/**
 * @utility: borders
 * @module: borderColor/_gray.scss
 * @desc: sets border color
 */

@mixin borderColorGray(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier in $gray {
    @include borderColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "gray",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

