/**
 * @utility: borders
 * @module: borderColor/_orange.scss
 */

@mixin borderColorOrange(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier in $orange {
    @include borderColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "orange",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

