/**
 * @utility: svg
 * @module: _fill.scss
 * @desc: Utilities for sets the color to paint an SVG.
 */

@mixin fill(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "fill-current",
    $property1: "fill",
    $value1: "currentColor#{$override}"
  )
}
