/**
 * @utility: svg
 * @module: _strokeWidth.scss
 * @desc: Utilities for sets the outline width of an SVG.
 */

@mixin strokeWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $stroke-width {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "stroke-",
      $modifier: $modifier,
      $property1: "stroke-width",
      $value1: $value#{$override}
    )
  }
}



