/**
 * @utility: svg
 * @module: _stroke.scss
 * @desc: Utilities for sets the outline color of an SVG.
 */

@mixin stroke(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "stroke-current",
    $property1: "stroke",
    $value1: "currentColor#{$override}"
  )
}

