/**
 * @module: variants/responsive/pseudo
 * @file: _hover.scss
 */

/* accessibility */

// @include screenReader($prefix: $responsive-hover, $pseudo: $hover)

/* backgrounds */

// @include backgroundColor($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundAttachment($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundPosition($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundRepeat($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundSize($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundBlend($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.4)
// @include backgroundOpacity($prefix: $responsive-hover, $pseudo: $hover)
// @include backgroundGradient($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.9)

/* borders */

// @include borderColor($prefix: $responsive-hover, $pseudo: $hover)
// @include borderRadius($prefix: $responsive-hover, $pseudo: $hover)
// @include borderStyle($prefix: $responsive-hover, $pseudo: $hover)
// @include borderWidth($prefix: $responsive-hover, $pseudo: $hover)
// @include borderDissect($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.8)
// @include borderDissectColor($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.8)
// @include borderDissectOpacity($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.8)

/* effects */

// @include shadowColor($prefix: $responsive-hover, $pseudo: $hover)
// @include boxShadow($prefix: $responsive-hover, $pseudo: $hover)
// @include opacity($prefix: $responsive-hover, $pseudo: $hover)
// @include mixBlend($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.4)
// @include gradient($prefix: $responsive-hover, $pseudo: $hover) // (1.0.8)

/* filters */

// @include filterCompose($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.9)
// @include filterBackdropCompose($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.0)
// @include filterInvert($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.3)

/* flexbox */

// @include alignContent($prefix: $responsive-hover, $pseudo: $hover)
// @include alignItems($prefix: $responsive-hover, $pseudo: $hover)
// @include alignSelf($prefix: $responsive-hover, $pseudo: $hover)
// @include flex($prefix: $responsive-hover, $pseudo: $hover)
// @include flexDirection($prefix: $responsive-hover, $pseudo: $hover)
// @include flexGrow($prefix: $responsive-hover, $pseudo: $hover)
// @include flexGap($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.0)
// @include flexShrink($prefix: $responsive-hover, $pseudo: $hover)
// @include flexWrap($prefix: $responsive-hover, $pseudo: $hover)
// @include justifyContent($prefix: $responsive-hover, $pseudo: $hover)
// @include order($prefix: $responsive-hover, $pseudo: $hover)

/* fluids */

/* interactivity */

// @include appearance($prefix: $responsive-hover, $pseudo: $hover)
// @include cursor($prefix: $responsive-hover, $pseudo: $hover)
// @include outline($prefix: $responsive-hover, $pseudo: $hover)
// @include pointerEvents($prefix: $responsive-hover, $pseudo: $hover)
// @include resize($prefix: $responsive-hover, $pseudo: $hover)
// @include scrollBehavior($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.1)
// @include scrollSnap($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.0)
// @include userSelect($prefix: $responsive-hover, $pseudo: $hover)

/* layouts */

// @include boxSizing($prefix: $responsive-hover, $pseudo: $hover)
// @include clear($prefix: $responsive-hover, $pseudo: $hover)
// @include containerDefault($prefix: $responsive-hover, $pseudo: $hover)
// @include display($prefix: $responsive-hover, $pseudo: $hover)
// @include float($prefix: $responsive-hover, $pseudo: $hover)
// @include inset($prefix: $responsive-hover, $pseudo: $hover)
// @include insetTBLR($prefix: $responsive-hover, $pseudo: $hover)
// @include objectFit($prefix: $responsive-hover, $pseudo: $hover)
// @include objectPosition($prefix: $responsive-hover, $pseudo: $hover)
// @include overflow($prefix: $responsive-hover, $pseudo: $hover)
// @include overflow-xy($prefix: $responsive-hover, $pseudo: $hover)
// @include overflow-scrolling($prefix: $responsive-hover, $pseudo: $hover)
// @include overscroll($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.0)
// @include position($prefix: $responsive-hover, $pseudo: $hover)
// @include visibility($prefix: $responsive-hover, $pseudo: $hover)
// @include zIndex($prefix: $responsive-hover, $pseudo: $hover)

/* sizing */

// @include height($prefix: $responsive-hover, $pseudo: $hover)
// @include maxHeight($prefix: $responsive-hover, $pseudo: $hover)
// @include maxWidth($prefix: $responsive-hover, $pseudo: $hover)
// @include minHeight($prefix: $responsive-hover, $pseudo: $hover)
// @include minWidth($prefix: $responsive-hover, $pseudo: $hover)
// @include width($prefix: $responsive-hover, $pseudo: $hover)

/* spacing */

// @include margin($prefix: $responsive-hover, $pseudo: $hover)
// @include margin($negative: $true, $prefix: $responsive-hover, $pseudo: $hover) // negative
// @include padding($prefix: $responsive-hover, $pseudo: $hover)
// @include equal($prefix: $responsive-hover, $pseudo: $hover) // (v1.0.8)
// @include equal($negative: $true, $prefix: $responsive-hover, $pseudo: $hover) // negative, (v1.0.8)

/* svg */

// @include fill($prefix: $responsive-hover, $pseudo: $hover)
// @include stroke($prefix: $responsive-hover, $pseudo: $hover)
// @include strokeWidth($prefix: $responsive-hover, $pseudo: $hover)
// @include strokeLineCap($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.1)

/* tables */

// @include borderCollapse($prefix: $responsive-hover, $pseudo: $hover)
// @include tableLayout($prefix: $responsive-hover, $pseudo: $hover)

/* transforms */

// @include transform($prefix: $responsive-hover, $pseudo: $hover)
// @include transformOrigin($prefix: $responsive-hover, $pseudo: $hover)
// @include rotate($prefix: $responsive-hover, $pseudo: $hover)
// @include rotate($prefix: $responsive-hover, $pseudo: $hover, $negative: $true) // negative
// @include scale($prefix: $responsive-hover, $pseudo: $hover)
// @include skew($prefix: $responsive-hover, $pseudo: $hover)
// @include skew($prefix: $responsive-hover, $pseudo: $hover, $negative: $true) // negative
// @include translate($prefix: $responsive-hover, $pseudo: $hover)
// @include translate($prefix: $responsive-hover, $pseudo: $hover, $negative: $true) // negative

/* transitions */

// @include transitionDuration($prefix: $responsive-hover, $pseudo: $hover)
// @include transitionProperty($prefix: $responsive-hover, $pseudo: $hover)
// @include transitionTiming($prefix: $responsive-hover, $pseudo: $hover)

/* typography */

// @include placeholderColor($prefix: $responsive-hover, $pseudo: $hover)
// @include textColor($prefix: $responsive-hover, $pseudo: $hover)
// @include fontFamily($prefix: $responsive-hover, $pseudo: $hover)
// @include fontSize($prefix: $responsive-hover, $pseudo: $hover)
// @include fontSmoothing($prefix: $responsive-hover, $pseudo: $hover)
// @include fontStyle($prefix: $responsive-hover, $pseudo: $hover)
// @include fontWeight($prefix: $responsive-hover, $pseudo: $hover)
// @include letterSpacing($prefix: $responsive-hover, $pseudo: $hover)
// @include lineHeight($prefix: $responsive-hover, $pseudo: $hover)
// @include lineHeightTrim($prefix: $responsive-hover, $pseudo: $hover) // (v1.1.0)
// @include listStylePosition($prefix: $responsive-hover, $pseudo: $hover)
// @include listStyleType($prefix: $responsive-hover, $pseudo: $hover)
// @include textAlign($prefix: $responsive-hover, $pseudo: $hover)
// @include textDecoration($prefix: $responsive-hover, $pseudo: $hover)
// @include textTransform($prefix: $responsive-hover, $pseudo: $hover)
// @include verticalAlign($prefix: $responsive-hover, $pseudo: $hover)
// @include whitespace($prefix: $responsive-hover, $pseudo: $hover)
// @include wordBreak($prefix: $responsive-hover, $pseudo: $hover)
// @include textClamp($prefix: $responsive-hover, $pseudo: $hover)

