/**
 * @utility: layouts
 * @module: _clear.scss
 */

@mixin clear(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $clear {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "clear-",
      $modifier: $modifier,
      $property: "clear",
      $value: $value#{$override}
    )
  }
}


