/**
 * @utility: layouts
 * @module: _display.scss
 */

@mixin display(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $display {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $modifier: $modifier,
      $property: "display",
      $value: $value#{$override}
    )
  }
}


