/**
 * @utility: layouts
 * @module: _float.scss
 */

@mixin float(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  #{$prefix}#{$class}#{$id}clearfix:after {
    content: ""#{$override};
    display: table#{$override};
    clear: both#{$override}
  }
  @each $modifier, $value in $float {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "float-",
      $modifier: $modifier,
      $property: "float",
      $value: $value#{$override}
    )
  }
}





