/**
 * @utility: layouts
 * @module: _float.scss
 * @desc: sets an element's placement to a side of its container and allows content to wrap around it
 */

@mixin float(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  // (static)
  #{$prefix}#{$class}#{$id}clearfix:after {
    content: ""#{$override};
    display: table#{$override};
    clear: both#{$override}
  }
  @each $modifier, $value in $float {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "float-",
      $modifier: $modifier,
      $property1: "float",
      $value1: $value#{$override}
    )
  }
}





