/**
 * @utility: layouts
 * @module: _float.scss
 */

@mixin float($prefix, $pseudo, $class) {
  #{$prefix}#{$class}#{$id}clearfix:after {
    content: ""#{$override};
    display: table#{$override};
    clear: both#{$override}
  }

  @each $modifier, $value in $float {
    @include setRuleSingle(
      $prefix, $pseudo, $class,
      "float-", $modifier,
      "float", $value#{$override}
    )
  }
}





