/**
 * @utility: layouts
 * @module: _objectPosition.scss
 * @desc: sets the alignment of the selected replaced element
 */

@mixin objectPosition(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $object-position {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "object-",
      $modifier: $modifier,
      $property: "object-position",
      $value: $value#{$override}
    )
  }
}



