/**
 * @utility: layouts
 * @module: _objectFit.scss
 * @desc: sets how the content of a replaced element (img or video tag) should be resized
 */

@mixin objectFit(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $object-fit {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "object-",
      $modifier: $modifier,
      $property: "object-fit",
      $value: $value#{$override}
    )
  }
}


