/**
 * @utility: layouts
 * @module: _position.scss
 * @desc: sets an element's position
 */

@mixin position(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $position {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $modifier: $modifier,
      $property: "position",
      $value: $value#{$override}
    )
  }
}

