/**
 * @utility: layouts
 * @module: _visibility.scss
 */

@mixin visibility(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "visible",
    $property: "visibility",
    $value: "visible#{$override}"
  )
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "invisible",
    $property: "visibility",
    $value: "hidden#{$override}"
  )
}

