/**
 * @utility: layouts
 * @module: _zIndex.scss
 */

@mixin zIndex(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $z-index {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "z-",
      $modifier: $modifier,
      $property: "z-index",
      $value: $value#{$override}
    )
  }
}



