/**
 * @utility: effects
 * @module: _boxShadow.scss
 * @desc: Utilities for sets the box-shadow property attaches one or more shadows to an element.
 */

@mixin boxShadow(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "shadow",
    $property1: "box-shadow",
    $value1: "0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)#{$override}"
  )
  @each $modifier, $value in $box-shadow {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "shadow-",
      $modifier: $modifier,
      $property1: "box-shadow",
      $value1: $value#{$override}
    )
  }
  @each $modifier, $value in $box-shadow-dreamy {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "shadow-",
      $modifier: $modifier,
      $property1: "box-shadow",
      $value1: $value#{$override}
    )
  }
}


