/**
 * @utility: effects
 * @module: _opacity.scss
 * @desc: Utilities for sets the transparency of an element.
 */

@mixin opacity(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $opacity {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "opacity-",
      $modifier: $modifier,
      $property1: "opacity",
      $value1: $value#{$override}
    )
  }
}

