/**
 * @utility: spacing
 * @module: _margin.scss
 */

@mixin margin(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $spacing {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}m-",
      $modifier: $modifier,
      $property: "margin",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleDouble(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}mx-",
      $modifier: $modifier,
      $property1: "margin-left",
      $property2: "margin-right",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleDouble(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}my-",
      $modifier: $modifier,
      $property1: "margin-top",
      $property2: "margin-bottom",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}mt-",
      $modifier: $modifier,
      $property: "margin-top",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}mb-",
      $modifier: $modifier,
      $property: "margin-bottom",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}ml-",
      $modifier: $modifier,
      $property: "margin-left",
      $value: #{$negative}$value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}mr-",
      $modifier: $modifier,
      $property: "margin-right",
      $value: #{$negative}$value#{$override}
    )
  }
}
