/**
 * @utility: spacing
 * @module: _padding.scss
 * @desc: controls padding in 0.25rem increments
 */

@mixin padding(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $spacing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "p-",
      $modifier: $modifier,
      $property1: "padding",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "px-",
      $modifier: $modifier,
      $property1: "padding-left",
      $value1: $value#{$override},
      $property2: "padding-right",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "py-",
      $modifier: $modifier,
      $property1: "padding-top",
      $value1: $value#{$override},
      $property2: "padding-bottom",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "pt-",
      $modifier: $modifier,
      $property1: "padding-top",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "pb-",
      $modifier: $modifier,
      $property1: "padding-bottom",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "pl-",
      $modifier: $modifier,
      $property1: "padding-left",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "pr-",
      $modifier: $modifier,
      $property1: "padding-right",
      $value1: $value#{$override}
    )
  }
}
