<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen flex flex-col justify-around">

    <y class="p-4 text-xl">
      include borders and padding
    </y>

    <!--test-->
    <y class="box-border h-32 w-32 p-4 mx-10 border-8 border-gray-400 bg-gray-200">
      <y class="h-full w-full bg-gray-400"></y>
    </y>

    <y class="p-4 text-xl">
      exclude borders and padding
    </y>

    <!--test-->
    <y class="box-content h-32 w-32 p-4 mx-10 border-8 border-gray-400 bg-gray-200">
      <y class="h-full w-full bg-gray-400"></y>
    </y>

  </y>

</body>

</html>
