<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="p-4 text-xl">
    container
  </y>

  <!--test-->
  <y class="container mx-auto bg-gray-300">
    <y>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </y>
  </y>

</body>

</html>
