<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen p-4">

    <y class="p-4 text-xl">
      block
    </y>

    <!--test-->
    <y class="bg-gray-200 p-4">
      <y class="block text-gray-700 text-center bg-gray-400 px-4 py-2">
        1
      </y>
      <y class="block text-gray-700 text-center bg-gray-400 px-4 py-2 mt-2">
        2
      </y>
      <y class="block text-gray-700 text-center bg-gray-400 px-4 py-2 mt-2">
        3
      </y>
    </y>

    <y class="p-4 text-xl">
      flow-root
    </y>

    <!--test-->
    <y class="flow-root bg-gray-400">
      <y class="my-4 block text-gray-700 text-center bg-gray-500 px-4 py-2">
        1
      </y>
    </y>
    <y class="flow-root bg-gray-200">
      <y class="my-4 block text-gray-700 text-center bg-gray-400 px-4 py-2">
        2
      </y>
    </y>

    <y class="p-4 text-xl">
      inline-block
    </y>

    <!--test-->
    <y class="bg-gray-200">
      <y class="inline-block text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        1
      </y>
      <y class="inline-block text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        2
      </y>
      <y class="inline-block text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        3
      </y>
    </y>

    <y class="p-4 text-xl">
      inline
    </y>

    <!--test-->
    <y class="bg-gray-200">
      <y class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">
        1
      </y>
      <y class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">
        2
      </y>
      <y class="inline text-gray-700 text-center bg-gray-400 px-4 py-2">
        3
      </y>
    </y>

    <y class="p-4 text-xl">
      flex
    </y>

    <!--test-->
    <y class="flex bg-gray-200">
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        1
      </y>
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        2
      </y>
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        3
      </y>
    </y>

    <y class="p-4 text-xl">
      inline-flex
    </y>

    <!--test-->
    <y class="inline-flex bg-gray-200">
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        1
      </y>
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        2
      </y>
      <y class="flex-1 text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        3
      </y>
    </y>

    <y class="p-4 text-xl">
      table
    </y>

    <!--test-->
    <y class="table w-full">
      <y class="table-row-group">
        <y class="table-row">
          <y class="table-cell bg-gray-400 text-gray-700 px-4 py-2 text-sm">
            A cell with more content
          </y>
          <y class="table-cell bg-gray-200 text-gray-700 px-4 py-2 text-sm">
            Cell 2
          </y>
          <y class="table-cell bg-gray-400 text-gray-700 px-4 py-2 text-sm">
            Cell 3
          </y>
        </y>
        <y class="table-row">
          <y class="table-cell bg-gray-200 text-gray-700 px-4 py-2 text-sm">
            Cell 4
          </y>
          <y class="table-cell bg-gray-400 text-gray-700 px-4 py-2 text-sm">
            A cell with more content
          </y>
          <y class="table-cell bg-gray-200 text-gray-700 px-4 py-2 text-sm">
            Cell 6
          </y>
        </y>
      </y>
    </y>

    <y class="p-4 text-xl">
      hidden
    </y>

    <!--test-->
    <y class="flex bg-gray-200">
      <y class="hidden text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        1
      </y>
      <y class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        2
      </y>
      <y class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
        3
      </y>
    </y>

  </y>

</body>

</html>
