<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen p-4">

    <y class="flex flex-wrap justify-around items-center">

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-left-top bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-left-top
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-top bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-top
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-right-top bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-right-top
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-left bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-left
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-center bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-center
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-right bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-right
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-left-bottom bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-left-bottom
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-bottom bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-bottom
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <img class="object-none object-right-bottom bg-gray-400 w-24 h-24 m-4" src="https://i.pravatar.cc/50">

        object-right-bottom
      </y>

    </y>

  </y>

</body>

</html>
