<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen p-4">

    <y class="p-4 text-xl">
      object-contain
    </y>

    <!--test-->
    <y class="bg-gray-400">
      <img class="object-contain h-48 w-full"
           src="https://i.pravatar.cc/100">
    </y>

    <y class="p-4 text-xl">
      object-cover
    </y>

    <!--test-->
    <y class="bg-gray-400">
      <img class="object-cover h-48 w-full"
           src="https://i.pravatar.cc/100">
    </y>

    <y class="p-4 text-xl">
      object-fill
    </y>

    <!--test-->
    <y class="bg-gray-400">
      <img class="object-fill h-48 w-full"
           src="https://i.pravatar.cc/100">
    </y>

    <y class="p-4 text-xl">
      object-none
    </y>

    <!--test-->
    <y class="bg-gray-400">
      <img class="object-none h-48 w-full"
           src="https://i.pravatar.cc/100">
    </y>

    <y class="p-4 text-xl">
      object-scale-down
    </y>

    <!--test-->
    <y class="bg-gray-400">
      <img class="object-scale-down h-48 w-full"
           src="https://i.pravatar.cc/100">
    </y>

  </y>

</body>

</html>
