<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen p-4">

    <y class="p-4 text-xl">
      static
    </y>

    <!--test-->
    <y class="">
      <y class="static p-4 h-32 text-gray-100 bg-gray-600">
        Static parent
        <y class="absolute bottom-0 left-0 p-4 h-16 text-gray-100 bg-gray-800">
          Absolute child
        </y>
      </y>
    </y>

  </y>

</body>

</html>
