<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="h-screen p-4">

    <y class="flex flex-wrap justify-between items-center">

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute inset-x-0 top-0 h-8 bg-gray-700"></y>
        </y>

        span-top-edge
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute inset-y-0 right-0 w-8 bg-gray-700"></y>
        </y>

        span right edge
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute inset-x-0 bottom-0 h-8 bg-gray-700"></y>
        </y>

        span-bottom-edge
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute inset-y-0 left-0 w-8 bg-gray-700"></y>
        </y>

        span-left-edge
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute inset-0 bg-gray-700"></y>
        </y>

        fill-entire-parent
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute left-0 top-0 h-8 w-8 bg-gray-700"></y>
        </y>

        pin-to-top-left-corner
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute top-0 right-0 h-8 w-8 bg-gray-700"></y>
        </y>

        pin-to-top-right-corner
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute bottom-0 right-0 h-8 w-8 bg-gray-700"></y>
        </y>

        pin-to-bottom-right-corder
      </y>

      <y class="text-sm text-center">

        <!--test-->
        <y class="relative h-24 w-24 bg-gray-400">
          <y class="absolute bottom-0 left-0 h-8 w-8 bg-gray-700"></y>
        </y>

        pin-to-bottom-left-corner
      </y>

    </y>

  </y>

</body>

</html>
