<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="p-4 text-xl">
    visible
  </y>

  <!--test-->
  <y class="flex justify-center">
    <y class="bg-gray-400 h-16 w-32"></y>
    <y class="bg-gray-600 visible h-16 w-32"></y>
    <y class="bg-gray-400 h-16 w-32"></y>
  </y>

  <y class="p-4 text-xl">
    invisible
  </y>

  <!--test-->
  <y class="flex justify-center">
    <y class="bg-gray-400 h-16 w-32"></y>
    <y class="bg-gray-600 invisible h-16 w-32"></y>
    <y class="bg-gray-400 h-16 w-32"></y>
  </y>

</body>

</html>
