<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../../dist/yogurt-1.0.4_solidcore.css" rel="stylesheet" type="text/css">
</head>

<body class="relative h-full bg-white">

  <y class="p-4 text-xl">
    z-index
  </y>

  <y class="relative top-0 left-0">

    <!--test-->
    <y class="z-40 ml-4 mt-4 h-64 w-64 bg-gray-400 absolute">
      <y class="p-4">
        z-40
      </y>
    </y>
    <y class="z-30 ml-8 mt-8 h-64 w-64 bg-gray-500 absolute">
      <y class="p-4">
        z-30
      </y>
    </y>
    <y class="z-20 ml-12 mt-12 h-64 w-64 bg-gray-600 absolute">
      <y class="p-4">
        z-20
      </y>
    </y>
    <y class="z-10 ml-16 mt-16 h-64 w-64 bg-gray-700 absolute">
      <y class="p-4">
        z-10
      </y>
    </y>
    <y class="z-0 ml-20 mt-20 h-64 w-64 bg-gray-800 absolute">
      <y class="p-4">
        z-0
      </y>
    </y>

  </y>

</body>

</html>
