/**
 * @utility: interactivity
 * @module: _appearance.scss
 */

@mixin appearance(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "appearance-none",
    $property: "appearance",
    $value: "none#{$override}"
  )
}

