/**
 * @utility: interactivity
 * @module: _outline.scss
 * @desc: sets native browser outline style to reset
 */

@mixin outline(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "outline-none",
    $property: "outline",
    $value: "0#{$override}"
  )
}

