/**
 * @utility: interactivity
 * @module: _resize.scss
 */

@mixin resize(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "resize",
    $property: "resize",
    $value: "both#{$override}"
  )
  @each $modifier, $value in $resize {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "resize-",
      $modifier: $modifier,
      $property: "resize",
      $value: $value#{$override}
    )
  }
}




