/**
 * @utility: interactivity
 * @module: _userSelect.scss
 * @desc: controls whether the user can select text
 */

@mixin userSelect(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $user-select {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "select-",
      $modifier: $modifier,
      $property: "user-select",
      $value: $value#{$override}
    )
  }
}

