/**
 * @utility: sizing
 * @module: _height.scss
 */

@mixin height(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $height {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "h-",
      $modifier: $modifier,
      $property: "height",
      $value: $value#{$override}
    )
  }
}


