/**
 * @utility: sizing
 * @module: _height.scss
 * @desc: sets the height of an element
 */

@mixin height(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $height {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "h-",
      $modifier: $modifier,
      $property1: "height",
      $value1: $value#{$override}
    )
  }
}


