/**
 * @utility: sizing
 * @module: _maxWidth.scss
 * @desc: sets the maximum width of an element
 */

@mixin maxWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $max-width {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "max-w-",
      $modifier: $modifier,
      $property1: "max-width",
      $value1: $value#{$override}
    )
  }
}

