/**
 * @utility: sizing
 * @module: _maxWidth.scss
 */

@mixin maxWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $max-width {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "max-w-",
      $modifier: $modifier,
      $property: "max-width",
      $value: $value#{$override}
    )
  }
}

