/**
 * @utility: sizing
 * @module: _maxHeight.scss
 * @desc: sets the maximum height of an element
 */

@mixin maxHeight(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $max-height {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "max-h-",
      $modifier: $modifier,
      $property1: "max-height",
      $value1: $value#{$override}
    )
  }
}
