/**
 * @utility: sizing
 * @module: _minHeight.scss
 */

@mixin minHeight(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $min-height {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "min-h-",
      $modifier: $modifier,
      $property: "min-height",
      $value: $value#{$override}
    )
  }
}

