/**
 * @utility: sizing
 * @module: _minWidth.scss
 */

@mixin minWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $min-width {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "min-w-",
      $modifier: $modifier,
      $property: "min-width",
      $value: $value#{$override}
    )
  }
}

