/**
 * @utility: backgrounds
 * @module: _backgroundRepeat.scss
 * @desc: sets repetition of a background image
 */

@mixin backgroundRepeat(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-repeat {
    @include setRuleSingle(
      $prefix,
      $pseudo,
      $class,
      "bg-",
      $modifier,
      "background-repeat",
      $value#{$override}
    )
  }
}

