/**
 * @utility: backgrounds
 * @module: _backgroundAttachment.scss
 * @desc: sets behaviour of background images when scrolling
 */

@mixin backgroundAttachment(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-attachment {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-",
      $modifier: $modifier,
      $property1: "background-attachment",
      $value1: $value#{$override}
    )
  }
}

