/**
 * @utility: backgrounds
 * @module: _backgroundSize.scss
 * @desc: sets background size of a background image
 */

@mixin backgroundSize(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-size {
    @include setRuleSingle(
      $prefix,
      $pseudo,
      $class,
      "bg-",
      $modifier,
      "background-size",
      $value#{$override}
    )
  }
}

