/**
 * @utility: backgrounds
 * @module: _backgroundPosition.scss
 * @desc: sets position of a background image
 */

@mixin backgroundPosition(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-position {
    @include setRuleSingle(
      $prefix,
      $pseudo,
      $class,
      "bg-",
      $modifier,
      "background-position",
      $value#{$override}
    )
  }
}

