/**
 * @utility: backgrounds
 * @module: _backgroundAttachment.scss
 * @desc: sets behaviour of backgorund images when scrolling
 */

@mixin backgroundAttachment(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-attachment {
    @include setRuleSingle(
      $prefix,
      $pseudo,
      $class,
      "bg-",
      $modifier,
      "background-attachment",
      $value#{$override}
    )
  }
}

