/**
 * @utility: layouts
 * @module: _float.scss
 */

@mixin float($prefix, $pseudo, $class, $modifier, $value) {
  @include setRuleSingle(
    $prefix, $pseudo, $class,
    "float-", $modifier,
    "float", $value#{$override}
  )
}

@mixin floatDefault($prefix, $class) {
  #{$prefix}#{$class}clearfix:after {
    content: ""#{$override};
    display: table#{$override};
    clear: both#{$override}
  }
}


/* global */

@include floatDefault("", ".")

/* hover */

/* focus */

/* active */

@each $modifier, $value in $float {

  /* global */

  @include float("", "", ".", $modifier, $value)

  /* hover */

  /* focus */

  /* active */

  /* responsive */

  // See `_responsive.scss`

}