/**
 * @utility: typography
 * @module: placeholderColor/_amber.scss
 */

@mixin placeholderColorAmber(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $amber {
    @include placeholderColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "amber",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}
