/**
 * @utility: typography
 * @module: placeholderColor/_indigo.scss
 * @desc: sets the placeholder color using the ::placeholder pseudo element
 */

@mixin placeholderColorIndigo(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $indigo {
    @include placeholderColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "indigo",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}



