/**
 * @utility: typography
 * @module: placeholderColor/_orange.scss
 * @desc: sets the placeholder color using the ::placeholder pseudo element
 */

@mixin placeholderColorOrange(
  $prefix: null,
  $pseudo: null,
  $class: null) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $orange {
    @include placeholderColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "orange",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}


