/**
 * @utility: typography
 * @module: textColor/_green.scss
 */

@mixin textColorGreen(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $green {
    @include textColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "green",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}


