/**
 * @utility: typography
 * @module: textColor/_khaki.scss
 */

@mixin textColorKhaki(
  $prefix: null,
  $pseudo: null,
  $class: null
  ){
  @each $shade-modifier, $hex-modifier, $radius-modifier in $khaki {
    @include textColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "khaki",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}


