/**
 * @utility: typography
 * @module: textColor/_nero.scss
 * @desc: sets the text color
 */

@mixin textColorNero(
  $prefix: null,
  $pseudo: null,
  $class: null
  ){
  @each $shade-modifier, $hex-modifier, $radius-modifier in $nero {
    @include textColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "nero",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}


