/**
 * @utility: typography
 * @module: textColor/_special.scss
 * @desc: sets the text color
 */

@mixin textColorSpecial(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $special-colors {
    #{$prefix}#{$class}text-#{$modifier}#{$pseudo} {
      color: #{$value}#{$override}
    }
  }
}

