/**
 * @utility: typography
 * @module: textColor/_yellow.scss
 * @desc: sets the text color
 */

@mixin textColorYellow(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $yellow {
    @include textColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "yellow",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

