/**
 * @utility: svg
 * @module: _strokeWidth.scss
 * @desc: sets the outline width of an SVG
 */

@mixin strokeWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $stroke-width {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "stroke-",
      $modifier: $modifier,
      $property: "stroke-width",
      $value: $value#{$override}
    )
  }
}



