/**
 * @utility: svg
 * @module: _stroke.scss
 * @desc: sets the outline color of an SVG
 */

@mixin stroke(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "stroke-current",
    $property: "stroke",
    $value: "currentColor#{$override}"
  )
}

