/**
 * @utility: debug
 * @module: _debugger.scss
 * @desc: inspect errors in spacing and overlapping elements
 */

@mixin debugger(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $selector: '[debug="true"] *',
    $property1: "background",
    $value1: "rgba(255, 0, 0, .1)",
    $property2: "box-shadow",
    $value2: "0 0 0 1px red"
  )
}
