/**
 * @utility: typography
 * @module: _fontStretch.scss
 * @desc: define text narrower(condensed) or wider(expanded) for font faces matching the defined sizes.
 */

@mixin fontStretch(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $font-stretch {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "font-stretch-",
      $modifier: $modifier,
      $property1: "font-stretch",
      $value1: $value#{$override}
    )
  }
}
