/**
 * @utility: typography
 * @module: _fontFamily.scss
 * @desc: Utilities for sets the font family.
 */

@mixin fontFamily(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $font-family {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "font-",
      $modifier: $modifier,
      $property1: "font-family",
      $value1: $value#{$override}
    )
  }
}


