/**
 * @utility: typography
 * @module: _fontStyle.scss
 * @desc: sets the style of the font
 */

@mixin fontStyle(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  // (static)
  #{$prefix}#{$class}#{$id}italic {
    font-style: italic#{$override};
  }
  #{$prefix}#{$class}#{$id}not-italic {
    font-style: normal#{$override};
  }
}

