/**
 * @utility: typography
 * @module: _letterSpacing.scss
 * @desc: sets the spacing between letters
 */

@mixin letterSpacing(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $letter-spacing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "gap-",
      $modifier: $modifier,
      $property1: "letter-spacing",
      $value1: $value#{$override}
    )
  }
}

