/**
 * @utility: typography
 * @module: _lineHeight.scss
 * @desc: sets the line height
 */

@mixin lineHeight(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $line-height {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "depth-",
      $modifier: $modifier,
      $property1: "line-height",
      $value1: $value#{$override}
    )
  }
}



