/**
 * @utility: typography
 * @module: _listStylePostion.scss
 * @desc: Utilities for sets the position of a list's bullets.
 */

@mixin listStylePosition(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  // (static)
  #{$prefix}#{$class}#{$id}list-inside {
    list-style-position: inside#{$override};
  }
  #{$prefix}#{$class}#{$id}list-outside {
    list-style-position: outside#{$override};
  }
}
