/**
 * @utility: typography
 * @module: _listStyleType.scss
 * @desc: sets the bullet style of a list
 */

@mixin listStyleType(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $list-style-type {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "list-",
      $modifier: $modifier,
      $property1: "list-style-type",
      $value1: $value#{$override}
    )
  }
}


