/**
 * @utility: typography
 * @module: _placeholderColor.scss
 * @desc: Utilities for sets the placeholder color using the ::placeholder pseudo element.
 */

@mixin placeholderColor(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "placeholder-",
      $modifier: "#{$color}-#{$modifier}",
      $variant: ":-ms-input-placeholder",
      $property1: "color",
      $value1: #{$value}
    )
  }
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "placeholder-",
      $modifier: "#{$color}-#{$modifier}",
      $variant: "::-ms-input-placeholder",
      $property1: "color",
      $value1: #{$value}
    )
  }
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "placeholder-",
      $modifier: "#{$color}-#{$modifier}",
      $variant: "::placeholder",
      $property1: "color",
      $value1: #{$value}
    )
  }
}

