/**
 * @utility: typography
 * @module: _textDecoration.scss
 * @desc: sets the text-decoration of an element
 */

@mixin textDecoration(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  // (static)
  #{$prefix}#{$class}#{$id}underline#{$pseudo} {
    text-decoration: underline#{$override}
  }
  #{$prefix}#{$class}#{$id}line-through#{$pseudo} {
    text-decoration: line-through#{$override}
  }
  #{$prefix}#{$class}#{$id}no-underline#{$pseudo} {
    text-decoration: none#{$override}
  }
}

