/**
 * @utility: typography
 * @module: _textTransform.scss
 * @desc: Utilities for sets the capitalization of text.
 */

@mixin textTransform(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  // (static)
  #{$prefix}#{$class}#{$id}uppercase#{$pseudo} {
    text-transform: uppercase#{$override}
  }
  #{$prefix}#{$class}#{$id}lowercase#{$pseudo} {
    text-transform: lowercase#{$override}
  }
  #{$prefix}#{$class}#{$id}capitalize#{$pseudo} {
    text-transform: capitalize#{$override}
  }
  #{$prefix}#{$class}#{$id}normal-case#{$pseudo} {
    text-transform: none#{$override}
  }
}

