/**
 * @utility: typography
 * @module: _textAlign.scss
 * @desc: sets the alignment of text
 */

@mixin textAlign(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $text-align {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "text-",
      $modifier: $modifier,
      $property1: "text-align",
      $value1: $value#{$override}
    )
  }
}



