/**
 * @utility: filters
 * @module: _blur.scss
 * @desc: sets filter blur effect to an element
 */

@mixin filterBlur(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $filter-blur {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "blur-",
      $modifier: $modifier,
      $property: "filter",
      $value: "blur(#{$value})#{$override}"
    )
  }
}

