/**
 * @utility: filters
 * @module: _filterCompose.scss
 * @desc: sets mixed filters (brightness, contrast, saturate) in order to an element
 */

@mixin filterCompose(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "filter",
    $property1: "--brightness",
    $value1: "1",
    $property2: "--contrast",
    $value2: "1",
    $property3: "--saturate",
    $value3: "1",
    $property4: "filter",
    $value4: brightness(var(--brightness)) contrast(var(--contrast)) saturate(var(--saturate))
  )
  @each $modifier, $value in $filter-compose {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "filter.brightness-",
      $modifier: $modifier,
      $property1: "--brightness",
      $value1: "#{$value}"
    )
  }
  @each $modifier, $value in $filter-compose {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "filter.contrast-",
      $modifier: $modifier,
      $property1: "--contrast",
      $value1: "#{$value}"
    )
  }
  @each $modifier, $value in $filter-compose {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "filter.saturate-",
      $modifier: $modifier,
      $property1: "--saturate",
      $value1: "#{$value}"
    )
  }
}
