/**
 * @utility: filters
 * @module: _invert.scss
 * @desc: sets filter invert effect to an element
 */

@mixin filterInvert(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $filter-invert {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "invert-",
      $modifier: $modifier,
      $property: "filter",
      $value: "invert(#{$value})#{$override}"
    )
  }
}

