/**
 * @utility: layouts
 * @module: _boxSizing.scss
 * @desc: sets how the total width and height of an element is calculated
 */

@mixin boxSizing(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $box-sizing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "box-",
      $modifier: $modifier,
      $property1: "box-sizing",
      $value1: $value#{$override}
    )
  }
}



