/**
 * @utility: layouts
 * @module: _clear.scss
 * @desc: Utilities for set whether an element is moved below preceding floated elements.
 */

@mixin clear(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $clear {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "clear-",
      $modifier: $modifier,
      $property1: "clear",
      $value1: $value#{$override}
    )
  }
}


