/**
 * @utility: layouts
 * @module: _container.scss
 * @desc: set max-width to match min-width of the current breakpoint
 */

@mixin containerDefault(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "container",
    $property1: "width",
    $value1: "100%#{$override}"
  )
}

/// (!) fixed only for responsive,
/// can't change anything for now.
@mixin container($value) {
  @include setRule(
    $class: $default,
    $selector: "container",
    $property1: "max-width",
    $value1: $value#{$override}
  )
}

