/**
 * @utility: layouts
 * @module: _display.scss
 * @desc: sets the display box type of an element
 */

@mixin display(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $display {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $modifier: $modifier,
      $property1: "display",
      $value1: $value#{$override}
    )
  }
}


