/**
 * @utility: layouts
 * @module: _inset.scss
 * @desc: Utilities for sets the placement of a positioned element.
 */

@mixin inset(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $inset {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "inset-",
      $modifier: $modifier,
      $property1: "top",
      $value1: $value#{$override},
      $property2: "bottom",
      $value2: $value#{$override},
      $property3: "left",
      $value3: $value#{$override},
      $property4: "right",
      $value4: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "inset-x-",
      $modifier: $modifier,
      $property1: "left",
      $value1: $value#{$override},
      $property2: "right",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "inset-y-",
      $modifier: $modifier,
      $property1: "top",
      $value1: $value#{$override},
      $property2: "bottom",
      $value2: $value#{$override}
    )
  }
}

@mixin insetTBLR(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $spacing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "top-",
      $modifier: $modifier,
      $property1: "top",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bottom-",
      $modifier: $modifier,
      $property1: "bottom",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "left-",
      $modifier: $modifier,
      $property1: "left",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "right-",
      $modifier: $modifier,
      $property1: "right",
      $value1: $value#{$override}
    )
  }
}


