/**
 * @utility: layouts
 * @module: _overflow.scss
 * @desc: Utilities for sets how to handle content that's too big for it's container.
 */

@mixin overflow(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $overflow {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overflow-",
      $modifier: $modifier,
      $property1: "overflow",
      $value1: $value#{$override}
    )
  }
}

@mixin overflow-xy(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $overflow-xy {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overflow-x-",
      $modifier: $modifier,
      $property1: "overflow-x",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overflow-y-",
      $modifier: $modifier,
      $property1: "overflow-y",
      $value1: $value#{$override}
    )
  }
}

@mixin overflow-scrolling(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $overflow-scrolling {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "scrolling-",
      $modifier: $modifier,
      $property1: "-webkit-overflow-scrolling",
      $value1: $value#{$override}
    )
  }
}


