/**
 * @utility: layouts
 * @module: _visibility.scss
 * @desc: Utilities for show or hide without affecting the layout of the document.
 */

@mixin visibility(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "visible",
    $property1: "visibility",
    $value1: "visible#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "invisible",
    $property1: "visibility",
    $value1: "hidden#{$override}"
  )
}

