/**
 * @utility: layouts
 * @module: _zIndex.scss
 * @desc: Utilities for sets the z order (stack order) of a positioned element.
 */

@mixin zIndex(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $z-index {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "z-",
      $modifier: $modifier,
      $property1: "z-index",
      $value1: $value#{$override}
    )
  }
}



