/**
 * @utility: backgrounds
 * @module: backgroundColor/_khaki.scss
 */

@mixin backgroundColorKhaki(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $khaki {
    @include backgroundColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "khaki",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

