/**
 * @utility: backgrounds
 * @module: backgroundColor/_nero.scss
 * @desc: sets background color
 */

@mixin backgroundColorNero(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $nero {
    @include backgroundColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "nero",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

