/**
 * @utility: backgrounds
 * @module: backgroundColor/_purple.scss
 * @desc: sets background color
 */

@mixin backgroundColorPurple(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $purple {
    @include backgroundColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "purple",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

