/**
 * @utility: backgrounds
 * @module: backgroundColor/_special.scss
 * @desc: sets background color
 */

@mixin backgroundColorSpecial(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $special-colors {
    #{$prefix}#{$class}bg-#{$modifier}#{$pseudo} {
      background-color: #{$value}#{$override}
    }
  }
}

