/**
 * @utility: backgrounds
 * @module: backgroundColor/_yellow.scss
 * @desc: sets background color
 */

@mixin backgroundColorYellow(
  $prefix: null,
  $pseudo: null,
  $class: null) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $yellow {
    @include backgroundColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "yellow",
      $shade: $shade-modifier,
      $hex: $hex-modifier
    )
  }
}

