/**
 * @utility: flexbox
 * @module: _alignItems.scss
 * @desc: Utilities for sets flex items position along a container's cross axis.
 */

@mixin alignItems(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $align-items {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "items-",
      $modifier: $modifier,
      $property1: "align-items",
      $value1: $value#{$override}
    )
  }
}

