/**
 * @utility: flexbox
 * @module: _alignContent.scss
 * @desc: controls how lines are positioned in multi-line flex containers
 */

@mixin alignContent(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $align-content {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "content-",
      $modifier: $modifier,
      $property1: "align-content",
      $value1: $value#{$override}
    )
  }
}

