/**
 * @utility: flexbox
 * @module: _flexGrow.scss
 * @desc: Utilities for controls how flex items grow.
 */

@mixin flexGrow(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-grow",
    $property1: "flex-grow",
    $value1: "1#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-grow-0",
    $property1: "flex-grow",
    $value1: "0#{$override}"
  )
}



