/**
 * @utility: flexbox
 * @module: _flexShrink.scss
 * @desc: Utilities for controls how flex items shrink.
 */

@mixin flexShrink(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-shrink",
    $property1: "flex-shrink",
    $value1: "1#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-shrink-0",
    $property1: "flex-shrink",
    $value1: "0#{$override}"
  )
}



