/**
 * @utility: flexbox
 * @module: _order.scss
 * @desc: controls how flex items are ordered
 */

@mixin order(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $order {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "order-",
      $modifier: $modifier,
      $property1: "order",
      $value1: $value#{$override}
    )
  }
}
