/**
 * @utility: effects
 * @module: shadowColor/_purple.scss
 */

@mixin shadowColorPurple(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $purple {
    @include shadowColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "purple",
      $shade: $shade-modifier,
      $hex: $hex-modifier,
      $radius: $radius-modifier
    )
  }
}
