/**
 * @utility: effects
 * @module: shadowColor/_yellow.scss
 * @desc: sets the shadow color
 */

@mixin shadowColorYellow(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier, $radius-modifier in $yellow {
    @include shadowColor(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $color: "yellow",
      $shade: $shade-modifier,
      $hex: $hex-modifier,
      $radius: $radius-modifier
    )
  }
}

