/**
 * @module: _gpu-accelerator.scss
 * @desc:
 */


 /**
 * (?) nothing much to do here, it just works passively.
 */


body { /* smooth font */
  -webkit-font-smoothing: antialiased
}

embed,
img,
video,
iframe { /* enhanced color saturation, contrast and brightness to image/video */
  -webkit-filter: saturate(1.36) contrast(1.15) brightness(1) blur(0);
  filter: saturate(1.36) contrast(1.15) brightness(1) blur(0);
  mix-blend-mode: normal;

  &::before {
    -webkit-filter: saturate(1.36) contrast(1.15) brightness(1.01) blur(0);
    filter: saturate(1.36) contrast(1.15) brightness(1.01) blur(0)
  }

  &::after {
    -webkit-filter: saturate(1.36) contrast(1.2) brightness(1.01) blur(0);
    filter: saturate(1.36) contrast(1.2) brightness(1.01) blur(0)
  }
}

img { /* fadein to all image loads*/

  &::before,
  &::after {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
  }
}


