/**
 * @module: _margin.scss
 * @desc:
 */


 /**
 * prefix usage,
 *
 *    read the wiki (https://github.com/loouislow81/yogurt-foundation/wiki/Margin)
 */


@each $short-name, $long-name in $positions { /* see module, `_variables` */

  $value: $margin-size;

  @while $value > $start-margin-size {

    .m-#{$value} { /* prefix is `m-{value}` */
      margin: rem($value, $base-px) /* see module, `_functions` */
    }

    .m#{$short-name}-#{$value} { /* prefix is `m{position}-{value}` */
      margin-#{$long-name}: rem($value, $base-px) /* see module, `_functions` */
    }

    $value: $value - $each-lineheight-size; // minus 2px each itr
  }
}


