/**
 * @utility: patterns
 * @module: _verticalStripes.scss
 * @desc: sets the element background with vertical-stripes patterns
 */

@mixin patternVerticalStripes(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $pattern-size {
    @if index($patterns, 'vertical-stripes') {
      @include setRule(
        $prefix: ".pattern",
        $pseudo: $pseudo,
        $class: $class,
        $selector: "vertical-stripes-",
        $modifier: $modifier,
        $property1: "background-image",
        $value1: "linear-gradient(90deg, transparent 50%, currentColor 50%)",
        $property2: "background-size",
        $value2: "#{$value} #{$value}"
      )
    }
  }
}



