/**
 * @utility: sizing
 * @module: _minWidth.scss
 * @desc: sets the minimum width of an element
 */

@mixin minWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $min-width {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "min-w-",
      $modifier: $modifier,
      $property1: "min-width",
      $value1: $value#{$override}
    )
  }
}

