/**
 * @utility: sizing
 * @module: _minHeight.scss
 * @desc: Utilities for sets the miminum height of an element.
 */

@mixin minHeight(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $min-height {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "min-h-",
      $modifier: $modifier,
      $property1: "min-height",
      $value1: $value#{$override}
    )
  }
}

