/**
 * @utility: sizing
 * @module: _width.scss
 * @desc: sets the width of an element
 */

@mixin width(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $width {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "w-",
      $modifier: $modifier,
      $property1: "width",
      $value1: $value#{$override}
    )
  }
}

