[tooltip-data]
  position: relative
  &:before
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    -khtml-opacity: 0
    -moz-opacity: 0
    -webkit-transition: all 0.18s ease-out 0.18s
    -webkit-transform: translate(-50%, 10px)
    -ms-transform: translate(-50%, 10px)
    -webkit-transform-origin: top
    -ms-transform-origin: top
    position: absolute
    bottom: 100%
    left: 50%
    transform: translate(-50%, 10px)
    transform-origin: top
    opacity: 0
    z-index: 10
    filter: alpha(opacity = 0)
    transition: all 0.18s ease-out 0.18s
    pointer-events: none
  &:after
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    -khtml-opacity: 0
    -moz-opacity: 0
    -webkit-transition: all 0.18s ease-out 0.18s
    -webkit-transform: translate(-50%, 10px)
    -ms-transform: translate(-50%, 10px)
    -webkit-transform-origin: top
    -ms-transform-origin: top
    position: absolute
    bottom: 100%
    left: 50%
    transform: translate(-50%, 10px)
    transform-origin: top
    opacity: 0
    z-index: 10
    filter: alpha(opacity = 0)
    transition: all 0.18s ease-out 0.18s
    pointer-events: none
    margin-bottom: 11px
    border-radius: 4px
    background: rgba(17, 17, 17, 0.9)
    padding: .5em 1em
    color: #fff
    font-size: 12px
    white-space: nowrap
    content: attr(tooltip-data)
  &:before
    margin-bottom: 5px
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat
    background-size: 100% auto
    width: 18px
    height: 6px
    content: ""
  &:hover:before, &[tooltip-visible]:before, &:hover:after, &[tooltip-visible]:after
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    -khtml-opacity: 1
    -moz-opacity: 1
    -webkit-transform: translate(-50%, 0)
    -ms-transform: translate(-50%, 0)
    transform: translate(-50%, 0)
    opacity: 1
    filter: alpha(opacity = 100)
    pointer-events: auto
  &.font-awesome:after
    font-family: FontAwesome
  &[tooltip-break]:after
    white-space: pre

[design-tooltip-pos="down"]
  &:before
    -webkit-transform: translate(-50%, -10px)
    -ms-transform: translate(-50%, -10px)
    top: 100%
    bottom: auto
    left: 50%
    transform: translate(-50%, -10px)
  &:after
    -webkit-transform: translate(-50%, -10px)
    -ms-transform: translate(-50%, -10px)
    top: 100%
    bottom: auto
    left: 50%
    transform: translate(-50%, -10px)
    margin-top: 11px
  &:before
    margin-top: 5px
    margin-bottom: 0
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat
    background-size: 100% auto
    width: 18px
    height: 6px
  &:hover:before, &[tooltip-visible]:before, &:hover:after, &[tooltip-visible]:after
    -webkit-transform: translate(-50%, 0)
    -ms-transform: translate(-50%, 0)
    transform: translate(-50%, 0)

[design-tooltip-pos="left"]
  &:before
    -webkit-transform: translate(10px, -50%)
    -ms-transform: translate(10px, -50%)
    top: 50%
    right: 100%
    bottom: auto
    left: auto
    transform: translate(10px, -50%)
  &:after
    -webkit-transform: translate(10px, -50%)
    -ms-transform: translate(10px, -50%)
    top: 50%
    right: 100%
    bottom: auto
    left: auto
    transform: translate(10px, -50%)
    margin-right: 11px
  &:before
    margin-right: 5px
    margin-bottom: 0
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat
    background-size: 100% auto
    width: 6px
    height: 18px
  &:hover:before, &[tooltip-visible]:before, &:hover:after, &[tooltip-visible]:after
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)

[design-tooltip-pos="right"]
  &:before
    -webkit-transform: translate(-10px, -50%)
    -ms-transform: translate(-10px, -50%)
    top: 50%
    bottom: auto
    left: 100%
    transform: translate(-10px, -50%)
  &:after
    -webkit-transform: translate(-10px, -50%)
    -ms-transform: translate(-10px, -50%)
    top: 50%
    bottom: auto
    left: 100%
    transform: translate(-10px, -50%)
    margin-left: 11px
  &:before
    margin-bottom: 0
    margin-left: 5px
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat
    background-size: 100% auto
    width: 6px
    height: 18px
  &:hover:before, &[tooltip-visible]:before, &:hover:after, &[tooltip-visible]:after
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)

[tooltip-length]:after
  white-space: normal

[design-tooltip-size="small"]:after
  width: 80px

[design-tooltip-size="medium"]:after
  width: 150px

[design-tooltip-size="large"]:after
  width: 260px

[design-tooltip-size="xlarge"]:after
  width: 90vw

@media screen and (min-width: 768px)
  [design-tooltip-size="xlarge"]:after
    width: 380px

[design-tooltip-size="fit"]:after
  width: 100%
