/**
 * @utility: filters
 * @module: _invert.scss
 * @desc: Utilities for sets filter inverts effect to an element.
 */

@mixin filterInvert(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $filter-invert {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "invert-",
      $modifier: $modifier,
      $property1: "filter",
      $value1: "invert(#{$value})#{$override}"
    )
  }
}

