/**
 * @utility: flexbox
 * @module: _alignItems.scss
 */

@mixin alignItems(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $align-items {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "items-",
      $modifier: $modifier,
      $property: "align-items",
      $value: $value#{$override}
    )
  }
}

