/**
 * @utility: flexbox
 * @module: _alignContent.scss
 */

@mixin alignContent(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $align-content {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "content-",
      $modifier: $modifier,
      $property: "align-content",
      $value: $value#{$override}
    )
  }
}

