/**
 * @utility: flexbox
 * @module: _alignSelf.scss
 * @desc: controls how an individual flex item is positioned along container's cross axis
 */

@mixin alignSelf(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $align-self {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "self-",
      $modifier: $modifier,
      $property: "align-self",
      $value: $value#{$override}
    )
  }
}

