/**
 * @utility: flexbox
 * @module: _flexDirection.scss
 * @desc: sets direction of flex items
 */

@mixin flexDirection(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $flex-direction {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "flex-",
      $modifier: $modifier,
      $property1: "flex-direction",
      $value1: $value#{$override}
    )
  }
}

