/**
 * @utility: flexbox
 * @module: _flexWrap.scss
 * @desc: creates how flex items wrap
 */

@mixin flexWrap(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $flex-wrap {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "flex-",
      $modifier: $modifier,
      $property1: "flex-wrap",
      $value1: $value#{$override}
    )
  }
}


