/**
 * @utility: flexbox
 * @module: _flexShrink.scss
 */

@mixin flexShrink(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-shrink",
    $property: "flex-shrink",
    $value: "1#{$override}"
  )
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "flex-shrink-0",
    $property: "flex-shrink",
    $value: "0#{$override}"
  )
}



