/**
 * @utility: flexbox
 * @module: _flex.scss
 * @desc: controls how flex items grow and shrink
 */

@mixin flex(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $flex {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "flex-",
      $modifier: $modifier,
      $property1: "flex",
      $value1: $value#{$override}
    )
  }
}

