/**
 * @utility: flexbox
 * @module: _justifyContent.scss
 * @desc:: controls how flex items are positioned along container's main axis
 */

@mixin justifyContent(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $justify-content {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "justify-",
      $modifier: $modifier,
      $property1: "justify-content",
      $value1: $value#{$override}
    )
  }
}

