/**
 * @utility: flexbox
 * @module: _order.scss
 */

@mixin order(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $order {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "order-",
      $modifier: $modifier,
      $property:"order",
      $value: $value#{$override}
    )
  }
}
