/**
 * @utility: borders
 * @module: _borderStyle.scss
 * @desc: Utilities for sets border style.
 */

@mixin borderStyle(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $border-style {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-",
      $modifier: $modifier,
      $property1: "border-style",
      $value1: $value#{$override}
    )
  }
}

