/**
 * @utility: borders
 * @module: _borderWidth.scss
 * @desc: sets border width in increments of 1px
 */

@mixin borderWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "border",
    $property1: "border-width",
    $value1: "0.0625em#{$override}"
  )
  @each $modifier, $value in $border-width {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-",
      $modifier: $modifier,
      $property1: "border-width",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-t-",
      $modifier: $modifier,
      $property1: "border-top-width",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-b-",
      $modifier: $modifier,
      $property1: "border-bottom-width",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-l-",
      $modifier: $modifier,
      $property1: "border-left-width",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-r-",
      $modifier: $modifier,
      $property1: "border-right-width",
      $value1: $value#{$override}
    )
  }
}




