/**
 * @utility: typography
 * @module: _fontSmoothing.scss
 */

@mixin fontSmoothing($prefix, $class) {
  #{$prefix}#{$class}antialiased {
    -webkit-font-smoothing: antialiased#{$override};
    -moz-osx-font-smoothing: grayscale#{$override}
  }
  #{$prefix}#{$class}subpixel-antialiased {
    -webkit-font-smoothing: auto#{$override};
    -moz-osx-font-smoothing: auto#{$override}
  }
}

/* global */

@include fontSmoothing("", ".")

/* hover */

/* focus */

/* active */

/* responsive */

// See `_responsive.scss`