/**
 * @utility: typography
 * @module: _placeholder.scss
 */

@mixin placeholder() {
  .placeholder-transparent:-ms-input-placeholder {
    color: transparent
  }
  .placeholder-transparent::-ms-input-placeholder {
    color: transparent
  }
  .placeholder-transparent::placeholder {
    color: transparent
  }
}

/* Default */

@include placeholder()

// hover

// focus

// active

/* responsive */

// See `_responsive.scss`