///// rules /////

@mixin placeholder() {

  .placeholder-transparent:-ms-input-placeholder {
    color: transparent
  }

  .placeholder-transparent::-ms-input-placeholder {
    color: transparent
  }

  .placeholder-transparent::placeholder {
    color: transparent
  }

}

///// variants /////

/* standalone */
/* hover */
/* focus */
/* active */

/* global */
@include placeholder()
/* hover */
/* focus */
/* active */

/* responsive */
@each $screen, $size in $screens {
  @media (min-width: #{$size}) {
    /* standalone */
    /* global */
    /* hover */
    /* focus */
    /* active */
  }
}