/**
 * @utility: typography
 * @module: _textTransform.scss
 */

@mixin textTransform($prefix, $pseudo, $class) {
  #{$prefix}#{$class}uppercase#{$pseudo} {
    text-transform: uppercase#{$override}
  }
  #{$prefix}#{$class}lowercase#{$pseudo} {
    text-transform: lowercase#{$override}
  }
  #{$prefix}#{$class}capitalize#{$pseudo} {
    text-transform: capitalize#{$override}
  }
  #{$prefix}#{$class}normal-case#{$pseudo} {
    text-transform: none#{$override}
  }
}

/* Default */

@include textTransform("", "", ".")

// hover

// focus

// active

// responsive (see `_responsive.scss`)