/**
 * @utility: typography
 * @module: _textDecoration.scss
 */

@mixin textDecoration($prefix, $pseudo, $class) {
  #{$prefix}#{$class}#{$id}underline#{$pseudo} {
    text-decoration: underline#{$override}
  }
  #{$prefix}#{$class}#{$id}line-through#{$pseudo} {
    text-decoration: line-through#{$override}
  }
  #{$prefix}#{$class}#{$id}no-underline#{$pseudo} {
    text-decoration: none#{$override}
  }
}

/* Default */

  @include textDecoration($prefix-false, $pseudo-false, $class-true)

/* Variants */

  // hover

  @include textDecoration($prefix-hover, $pseudo-hover, $class-false)

  // group hover

  @include textDecoration($prefix-group-hover, $pseudo-false, $class-false)

  // focus

  @include textDecoration($prefix-focus, $pseudo-focus, $class-false)

  // active

  // visited

  // disabled

  // responsive (see `_responsive.scss`)