/**
 * @utility: typography
 * @module: _textDecoration.scss
 */

@mixin textDecoration($prefix, $pseudo, $class) {

  #{$prefix}#{$class}underline#{$pseudo} {
    text-decoration: underline#{$override}
  }

  #{$prefix}#{$class}line-through#{$pseudo} {
    text-decoration: line-through#{$override}
  }

  #{$prefix}#{$class}no-underline#{$pseudo} {
    text-decoration: none#{$override}
  }

}

/* global */

@include textDecoration("", "", ".")

/* hover */

@include textDecoration(".hover\\:", ":hover", "")

/* group hover */

@include textDecoration(".group:hover .group-hover\\:", "", "")

/* focus */

@include textDecoration(".focus\\:", ":focus", "")

/* active */

/* responsive */

// See `_responsive.scss`