///// rules /////

@mixin wordBreak(
  $prefix, $pseudo, $class) {

  #{$prefix}#{$class}break-normal#{$pseudo} {
    overflow-wrap: normal#{$override};
    word-break: normal#{$override}
  }

  #{$prefix}#{$class}break-words#{$pseudo} {
    overflow-wrap: break-word#{$override}
  }

  #{$prefix}#{$class}break-all#{$pseudo} {
    word-break: all#{$override}
  }

  #{$prefix}#{$class}truncate#{$pseudo} {
    overflow: hidden#{$override};
    text-overflow: ellipsis#{$override};
    white-space: nowrap#{$override}
  }

}

/* standalone */
/* hover */
/* focus */
/* active */

/* global */
@include wordBreak(
  "", "", "."
)

/* hover */
/* focus */
/* active */

/* responsive */
@each $screen, $size in $screens {
  @media (min-width: #{$size}) {

    /* standalone */

    /* global */
    @include wordBreak(
      ".#{$screen}\\:", "", ""
    )

    /* hover */
    /* focus */
    /* active */
  }
}