/**
 * @utility: typography
 * @module: _wordBreak.scss
 */

@mixin wordBreak($prefix, $pseudo, $class) {
  #{$prefix}#{$class}break-normal#{$pseudo} {
    overflow-wrap: normal#{$override};
    word-break: normal#{$override}
  }
  #{$prefix}#{$class}break-words#{$pseudo} {
    overflow-wrap: break-word#{$override}
  }
  #{$prefix}#{$class}break-all#{$pseudo} {
    word-break: all#{$override}
  }
  #{$prefix}#{$class}truncate#{$pseudo} {
    overflow: hidden#{$override};
    text-overflow: ellipsis#{$override};
    white-space: nowrap#{$override}
  }
}

/* Default */

@include wordBreak("", "", ".")

/* Variants */

// hover

// focus

// active

// visited

// disabled

// responsive (see `_responsive.scss`)