/**
 * @utility: transforms
 * @module: _skew.scss
 * @desc: Utilities for skews an element that has transform applied.
 */

@mixin skew(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $skew {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}skew-x-",
      $modifier: $modifier,
      $property1: "--transform-skew-x",
      $value1: "#{$negative}#{$value}#{$override}"
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}skew-y-",
      $modifier: $modifier,
      $property1: "--transform-skew-y",
      $value1: "#{$negative}#{$value}#{$override}"
    )
  }
}



