/**
 * @utility: transforms
 * @module: _transformOrigin.scss
 * @desc: Utilities for sets the origin of an element's transforms.
 */

@mixin transformOrigin(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transform-origin {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "origin-",
      $modifier: $modifier,
      $property1: "transform-origin",
      $value1: $value#{$override}
    )
  }
}



