/**
 * @utility: transforms
 * @module: _translate.scss
 * @desc: Utilities for translate an element that has transform applied.
 */

@mixin translate(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $translate {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}translate-x-",
      $modifier: $modifier,
      $property1: "--transform-translate-x",
      $value1: #{$negative}#{$value}#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}translate-y-",
      $modifier: $modifier,
      $property1: "--transform-translate-y",
      $value1: #{$negative}#{$value}#{$override}
    )
  }
}



