/**
 * @utility: transitions
 * @module: _transitionDuration.scss
 * @desc: Utilities for sets the length of time for a transition animations to complete.
 */

@mixin transitionDuration(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-duration {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "duration-",
      $modifier: $modifier,
      $property1: "transition-duration",
      $value1: $value#{$override}
    )
  }
}



