/**
 * @utility: transitions
 * @module: _transitionTiming.scss
 * @desc: Utilities for sets the easing function of transition animations.
 */

@mixin transitionTiming(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-timing {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "ease-",
      $modifier: $modifier,
      $property1: "transition-timing-function",
      $value1: $value#{$override}
    )
  }
}
