/**
 * @utility: transitions
 * @module: _transitionProperty.scss
 * @desc: Utilities for sets the css properties affected by transition animations.
 */

@mixin transitionProperty(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-property {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $modifier: $modifier,
      $property1: "transition-property",
      $value1: $value#{$override}
    )
  }
}


