/**
 * @utility: tables
 * @module: _tableLayout.scss
 */

@mixin tableLayout(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $table-layout {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "table-",
      $modifier: $modifier,
      $property: "table-layout",
      $value: $value#{$override}
    )
  }
}



