/**
 * @utility: effects
 * @module: _mixBlend.scss
 */

@mixin mixBlend(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $effect-blend {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "blend-",
      $modifier: $modifier,
      $property: "mix-blend-mode",
      $value: $value#{$override}
    )
  }
}

