/**
 * @utility: effects
 * @module: _opacity.scss
 */

@mixin opacity(
  $prefix: null,
  $pseudo: null,
  $class: null) {
  @each $modifier, $value in $opacity {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "opacity-",
      $modifier: $modifier,
      $property: "opacity",
      $value: $value#{$override}
    )
  }
}

