/**
 * @utility: theme
 * @module: _themeInvert.scss
 * @desc: Utilities for sets page theme either dark or light by applying force invert with color correction.
 */

@mixin themeInvert() {
  // (static)
  html[theme="invert"] {
    filter: invert(1) hue-rotate(180deg)
  }
  img[theme="invert"] {
    filter: invert(1) hue-rotate(180deg)
  }
  [theme="invert"] {
    filter: invert(1) hue-rotate(180deg)
  }
}

