/**
 * @utility: tables
 * @module: _borderCollapse.scss
 * @desc: collapse or separate table borders
 */

@mixin borderCollapse(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $border-collapse {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-",
      $modifier: $modifier,
      $property1: "border-#{$value}",
      $value1: $value#{$override}
    )
  }
}




