/**
 * @utility: tables
 * @module: _tableLayout.scss
 * @desc: defines the algorithm used to layout table cells, rows and columns
 */

@mixin tableLayout(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $table-layout {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "table-",
      $modifier: $modifier,
      $property1: "table-layout",
      $value1: $value#{$override}
    )
  }
}



