/**
 * @utility: interactivity
 * @module: _appearance.scss
 * @desc: disables native styling based on the native browser theme
 */

@mixin appearance(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "appearance-none",
    $property1: "appearance",
    $value1: "none#{$override}"
  )
}

