/**
 * @utility: interactivity
 * @module: _cursor.scss
 * @desc: changes the cursor when hovering over an element
 */

@mixin cursor(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $cursor {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "cursor-",
      $modifier: $modifier,
      $property1: "cursor",
      $value1: $value#{$override}
    )
  }
}



