/**
 * @utility: layouts
 * @module: _overscroll.scss
 * @desc: Utilities for sets an scrollable element that won't affecting the parent scrollable element on touch device.
 */

@mixin overscroll(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $overscroll {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overscroll-",
      $modifier: $modifier,
      $property1: "overscroll-behavior",
      $value1: $value#{$override}
    )
  }
  @each $modifier, $value in $overscroll-x {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overscroll-",
      $modifier: $modifier,
      $property1: "overscroll-behavior-x",
      $value1: $value#{$override}
    )
  }
  @each $modifier, $value in $overscroll-y {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "overscroll-",
      $modifier: $modifier,
      $property1: "overscroll-behavior-y",
      $value1: $value#{$override}
    )
  }
}
