/**
 * @utility: interactivity
 * @module: _pointerEvents.scss
 * @desc: specifies whether an element is the target of mouse events
 */

@mixin pointerEvents(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $pointer-events {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "pointer-events-",
      $modifier: $modifier,
      $property1: "pointer-events",
      $value1: $value#{$override}
    )
  }
}


