/**
 * @utility: interactivity
 * @module: _resize.scss
 * @desc: sets whether an element is resizable, along with direction
 */

@mixin resize(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "resize",
    $property1: "resize",
    $value1: "both#{$override}"
  )
  @each $modifier, $value in $resize {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "resize-",
      $modifier: $modifier,
      $property1: "resize",
      $value1: $value#{$override}
    )
  }
}




