/**
 * @utility: interactivity
 * @module: _userSelect.scss
 * @desc: Utilities for controls whether the user can select text.
 */

@mixin userSelect(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $user-select {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "select-",
      $modifier: $modifier,
      $property1: "user-select",
      $value1: $value#{$override}
    )
  }
}

