/**
 * @module: variants/non-responsive/default/
 * @file: _default.scss
 */

/* accessibility */

@include screenReader($class: $default)

/* animations */

// (v1.0.9)
@include fxBlur($class: $default)
@include fxFade($class: $default)
@include fxRoll($class: $default)
@include fxSlide($class: $default)

/* backgrounds */

@include backgroundColor($class: $default)
@include backgroundAttachment($class: $default)
@include backgroundPosition($class: $default)
@include backgroundRepeat($class: $default)
@include backgroundSize($class: $default)
@include backgroundBlend($class: $default) // (v1.0.4)
@include backgroundOpacity($class: $default)
@include backgroundBorder($class: $default) // (v1.0.9)
@include backgroundGradient($class: $default) // (v1.0.9)

/* borders */

@include borderColor($class: $default)
@include borderRadius($class: $default)
@include borderStyle($class: $default)
@include borderWidth($class: $default)
@include borderDissect($class: $default) // (v1.0.8)
@include borderDissectColor($class: $default) // (1.0.8)
@include borderDissectOpacity($class: $default) // (v1.0.8)

/* debug */

@include debugOutline() // (static) (v1.1.0)
@include debugScreen() // (v1.1.0)

/* effects */

@include shadowColor($class: $default)
@include boxShadow($class: $default)
@include opacity($class: $default)
@include mixBlend($class: $default) // (v1.0.4)
@include gradient($class: $default) // (1.0.8)

/* filters */

@include filterCompose($class: $default) // (v1.0.9)
@include filterBackdropCompose($class: $default) // (v1.1.0)
@include filterInvert($class: $default) // (v1.0.3)

/* flexbox */

@include alignContent($class: $default)
@include alignItems($class: $default)
@include alignSelf($class: $default)
@include flex($class: $default)
@include flexDirection($class: $default)
@include flexGrow($class: $default)
@include flexGap($class: $default) // (v1.1.0)
@include flexShrink($class: $default)
@include flexWrap($class: $default)
@include justifyContent($class: $default)
@include order($class: $default)

/* fluids */

@include fluidFontSize($class: $default) // (v1.0.8)
@include fluidMargin($class: $default) // (1.0.8)
@include fluidPadding($class: $default) // (1.0.8)

/* interactivity */

@include appearance($class: $default)
@include cursor($class: $default)
@include outline($class: $default)
@include overscroll($class: $default) // (v1.1.0)
@include pointerEvents($class: $default)
@include resize($class: $default)
@include scrollBehavior($class: $default) // (v1.1.1)
@include scrollSnap($class: $default) // (v1.1.0)
@include touchAction($class: $default) // (v1.1.1)
@include userSelect($class: $default)

/* layouts */

@include boxSizing($class: $default)
@include clear($class: $default)
@include containerDefault($class: $default)
@include contentVisibility($class: $default) // (v1.0.9)
@include display($class: $default)
@include float($class: $default)
@include inset($class: $default)
@include insetTBLR($class: $default)
@include objectFit($class: $default)
@include objectPosition($class: $default)
@include overflow($class: $default)
@include overflow-xy($class: $default)
@include overflow-scrolling($class: $default)
@include position($class: $default)
@include visibility($class: $default)
@include zIndex($class: $default)

/* patterns */

// (1.0.8)
@include patternChecks($class: $default)
@include patternCircle($class: $default) // (v1.1.2)
@include patternCrossDots($class: $default)
@include patternDiagonalLines($class: $default)
@include patternDiagonalStripes($class: $default)
@include patternDots($class: $default)
@include patternGrid($class: $default)
@include patternHorizontalLines($class: $default)
@include patternHorizontalStripes($class: $default)
@include patternRhombus($class: $default) // (v1.1.2)
@include patternRipple($class: $default) // (v1.1.2)
@include patternTriangles($class: $default)
@include patternVerticalLines($class: $default)
@include patternVerticalStripes($class: $default)
@include patternZigzag($class: $default)

/* sizing */

@include height($class: $default)
@include maxHeight($class: $default)
@include maxWidth($class: $default)
@include minHeight($class: $default)
@include minWidth($class: $default)
@include width($class: $default)

/* spacing */

@include margin($class: $default)
@include margin($negative: $true, $class: $default) // negative
@include padding($class: $default)
@include equal($class: $default) // (v1.0.8)
@include equal($negative: $true, $class: $default) // negative, (v1.0.8)

/* svg */

@include fill($class: $default)
@include stroke($class: $default)
@include strokeWidth($class: $default)
@include strokeLineCap($class: $default) // (v1.1.1)

/* tables */

@include borderCollapse($class: $default)
@include tableLayout($class: $default)

/* theme */

// (v1.0.9)
@include themeAuto() // (static, no variants)
@include themeInvert() // (static, no variants)

/* transforms */

@include transform($class: $default)
@include transformOrigin($class: $default)
@include rotate($class: $default)
@include rotate($class: $default, $negative: $true) // negative
@include scale($class: $default)
@include skew($class: $default)
@include skew($class: $default, $negative: $true) // negative
@include translate($class: $default)
@include translate($class: $default, $negative: $true) // negative

/* transitions */

@include transitionDuration($class: $default)
@include transitionProperty($class: $default)
@include transitionTiming($class: $default)

/* typography */

@include textColor ($class: $default)
@include fontFamily($class: $default)
@include fontKerning($class: $default) // (v1.1.1)
@include fontSize($class: $default)
@include fontSmoothing($class: $default)
@include fontStyle($class: $default)
@include fontWeight($class: $default)
@include letterSpacing($class: $default)
@include lineHeight($class: $default)
// @include lineHeightTrim($class: $default) // (v1.1.0)
@include listStylePosition($class: $default)
@include listStyleType($class: $default)
@include placeholder() // static
@include placeholderColor($class: $default)
@include textAlign($class: $default)
@include textDecoration($class: $default)
@include textTransform($class: $default)
@include verticalAlign($class: $default)
@include whitespace($class: $default)
@include wordBreak($class: $default)
@include writingMode($class: $default) // (v1.1.1)
@include textClamp($class: $default)
