/**
 * @utility: borders
 * @module: dissectColor/_orange.scss
 * @desc: set color for bottom border for each child elements
 */

@mixin dissectColorOrange(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $shade-modifier, $hex-modifier in $orange {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "dissect-orange-",
      $modifier: $shade-modifier,
      $option: "> :not(template) ~ :not(template)",
      $property1: "--dissect-opacity",
      $value1: "1",
      $property2: "border-color",
      $value2: "#{$hex-modifier}#{$override}",
      $property3: "border-color",
      $value3: rgba($hex-modifier, var(--dissect-opacity))#{$override}
    )
  }
}
