/**
 * @utility: transforms
 * @module: _rotate.scss
 * @desc: rotates an element that has transform applied
 */

@mixin rotate(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $rotate {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}rotate-",
      $modifier: $modifier,
      $property1: "--transform-rotate",
      $value1: #{$negative}$value#{$override}
    )
  }
}


