/**
 * @utility: transforms
 * @module: _scale.scss
 * @desc: scales an element that has transform applied
 */

@mixin scale(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $scale {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "scale-",
      $modifier: $modifier,
      $property1: "--transform-scale-x",
      $value1: $value#{$override},
      $property2: "--transform-scale-y",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "scale-x-",
      $modifier: $modifier,
      $property1: "--transform-scale-x",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "scale-y-",
      $modifier: $modifier,
      $property1: "--transform-scale-y",
      $value1: $value#{$override}
    )
  }
}



