/**
 * @utility: transforms
 * @module: _skew.scss
 * @desc: skews an element that has transform applied
 */

@mixin skew(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $skew {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}skew-x-",
      $modifier: $modifier,
      $property: "--transform-skew-x",
      $value: "#{$negative}#{$value}#{$override}"
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}skew-y-",
      $modifier: $modifier,
      $property: "--transform-skew-y",
      $value: "#{$negative}#{$value}#{$override}"
    )
  }
}



