/**
 * @utility: transforms
 * @module: _translate.scss
 * @desc: translate an element that has transform applied
 */

@mixin translate(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $negative: null
  ) {
  @each $modifier, $value in $translate {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}translate-x-",
      $modifier: $modifier,
      $property: "--transform-translate-x",
      $value: #{$negative}#{$value}#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "#{$negative}translate-y-",
      $modifier: $modifier,
      $property: "--transform-translate-y",
      $value: #{$negative}#{$value}#{$override}
    )
  }
}



