/**
 * @utility: transforms
 * @module: _transformOrigin.scss
 */

@mixin transformOrigin(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transform-origin {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "origin-",
      $modifier: $modifier,
      $property: "transform-origin",
      $value: $value#{$override}
    )
  }
}



