/**
 * @utility: effects
 * @module: _backgroundBlend.scss
 * @desc: Utilities for sets the blending mode of each background layer (color or image).
 */

@mixin backgroundBlend(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $effect-blend {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-blend-",
      $modifier: $modifier,
      $property1: "background-blend-mode",
      $value1: $value#{$override}
    )
  }
}
