/**
 * @utility: backgrounds
 * @module: _backgroundSize.scss
 * @desc: Utilities for sets background size of a background image.
 */

@mixin backgroundSize(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-size {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-",
      $modifier: $modifier,
      $property1: "background-size",
      $value1: $value#{$override}
    )
  }
}

