/**
 * @utility: backgrounds
 * @module: _backgroundPosition.scss
 * @desc: sets position of a background image
 */

@mixin backgroundPosition(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $background-position {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-",
      $modifier: $modifier,
      $property1: "background-position",
      $value1: $value#{$override}
    )
  }
}

