/**
 * @utility: backgrounds
 * @module: _backgroundGradient.scss
 * @desc: sets the background gradient color to an element with flexible control over color, color space and angles
 */

@mixin backgroundGradient(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "bg-gradient",
    $property1: "background",
    $value1: "linear-gradient(var(--bg-gradient-angle), var(--bg-gradient-start-color) var(--bg-gradient-primary), var(--bg-gradient-stop-color) var(--bg-gradient-secondary))"
  )
  @each $modifier, $value in $background-gradient-angle {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.angle-",
      $modifier: $modifier,
      $property1: "--bg-gradient-angle",
      $value1: #{$value}
    )
  }
  @each $modifier, $value in $background-gradient-angle {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.-angle-",
      $modifier: $modifier,
      $property1: "--bg-gradient-angle",
      $value1: -#{$value}
    )
  }
  @each $modifier, $value in $background-gradient-space {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.start-",
      $modifier: $modifier,
      $property1: "--bg-gradient-primary",
      $value1: #{$value}
    )
  }
  @each $modifier, $value in $background-gradient-space {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.stop-",
      $modifier: $modifier,
      $property1: "--bg-gradient-secondary",
      $value1: #{$value}
    )
  }
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.start-",
      $modifier: "#{$color}-#{$modifier}",
      $property1: "--bg-gradient-start-color",
      $value1: #{$value}
    )
  }
  @each $color, $modifier, $value in $colors {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "bg-gradient.stop-",
      $modifier: "#{$color}-#{$modifier}",
      $property1: "--bg-gradient-stop-color",
      $value1: #{$value}
    )
  }
  // (static)
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "bg-gradient.clip-text",
    $property1: "background-clip",
    $value1: "text",
    $property2: "-webkit-background-clip",
    $value2: "text",
    $property3: "-webkit-text-fill-color",
    $value3: "transparent",
    $property4: "-moz-background-clip",
    $value4: "text",
    $property5: "-moz-text-fill-color",
    $value5: "transparent"
  )
}

