/**
 * @file: _config.scss
 */

// create an explicitly separate version with
// ID to avoid CSS conflicts or when more than
// one CSS library or framework is being used.
// Default is empty. (e.g. new-) with a `dash`.
$id: "";

// by default using `:` symbol character to
// separate in between the {prefix} and the
// {class}. Use this option to make changes
// for templating engine that do no support
// special characters.
$separator: ":"; // do not empty!

// override existing css with this option,
// default is empty, to enable add `!important`.
$override: "";

$of: \/; // escaping `forward-slash`

/*
  @params $modifier, $value
*/

/* screens */

$screens:
  (xs, 320px), // (primitive)
  (sm, 640px),
  (md, 768px),
  (lg, 1024px),
  (xl, 1280px),
  (\32k, 1920px), // 2k
  // (\33k, 2560px), // 3k
  (\34k, 3840px); // 4k
  // (\35k, 5120px), // 5k
  // (\36k, 5760px), // 6k
  // (\37k, 7000px), // 7k
  // (\38k, 7680px); // 8k

/* spacing */

$spacing: // for margin, padding
  (auto, auto),
  (px, 1px),
  (0, 0),
  (1, 0.25rem),
  (2, 0.5rem),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (8, 2rem),
  (10, 2.5rem),
  (12, 3rem),
  (16, 4rem),
  (20, 5rem),
  (24, 6rem),
  (32, 8rem),
  (40, 10rem),
  (48, 12rem),
  (56, 14rem),
  (64, 16rem);

/* box sizing */

$box-sizing:
  (border, border-box),
  (content, content-box);

/* clear */

$clear:
  (left, left),
  (right, right),
  (both, both),
  (none, none);

/* color */

// light/darkness, colorcode(hex)
// 100,200,300,400 = lightness
// 500, 600, 700, 800, 900 = darkness

$special-colors:
  (white, #fff),
  (transparent, transparent),
  (current, currentColor);

$black:
  (100, #b9b9b9),
  (200, #a2a2a2),
  (300, #8b8b8b),
  (400, #737373),
  (500, #5c5c5c),
  (600, #454545),
  (700, #2e2e2e),
  (800, #171717),
  (900, #000000);

$charcoal:
  (100, #222c35),
  (200, #1f2831),
  (300, #1c252c),
  (400, #192127),
  (500, #161d22),
  (600, #13181d),
  (700, #101419),
  (800, #0d1014),
  (900, #0a0c0f);

$gray:
  (100, #f7fafc),
  (200, #edf2f7),
  (300, #e2e8f0),
  (400, #cbd5e0),
  (500, #a0aec0),
  (600, #718096),
  (700, #4a5568),
  (800, #2d3748),
  (900, #1a202c);

$red:
  (100, #fff5f5),
  (200, #fed7d7),
  (300, #feb2b2),
  (400, #fc8181),
  (500, #f56565),
  (600, #e53e3e),
  (700, #c53030),
  (800, #9b2c2c),
  (900, #742a2a);

$orange:
  (100, #fffaf0),
  (200, #feebc8),
  (300, #fbd38d),
  (400, #f6ad55),
  (500, #ed8936),
  (600, #dd6b20),
  (700, #c05621),
  (800, #9c4221),
  (900, #7b341e);

$yellow:
  (100, #fffff0),
  (200, #fefcbf),
  (300, #faf089),
  (400, #f6e05e),
  (500, #ecc94b),
  (600, #d69e2e),
  (700, #b7791f),
  (800, #975a16),
  (900, #744210);

$green:
  (100, #f0fff4),
  (200, #c6f6d5),
  (300, #9ae6b4),
  (400, #68d391),
  (500, #48bb78),
  (600, #38a169),
  (700, #2f855a),
  (800, #276749),
  (900, #22543d);

$teal:
  (100, #e6fffa),
  (200, #b2f5ea),
  (300, #81e6d9),
  (400, #4fd1c5),
  (500, #38b2ac),
  (600, #319795),
  (700, #2c7a7b),
  (800, #285e61),
  (900, #234e52);

$blue:
  (100, #ebf8ff),
  (200, #bee3f8),
  (300, #90cdf4),
  (400, #63b3ed),
  (500, #4299e1),
  (600, #3182ce),
  (700, #2b6cb0),
  (800, #2c5282),
  (900, #2a4365);

$indigo:
  (100, #ebf4ff),
  (200, #c3dafe),
  (300, #a3bffa),
  (400, #7f9cf5),
  (500, #667eea),
  (600, #5a67d8),
  (700, #4c51bf),
  (800, #434190),
  (900, #3c366b);

$purple:
  (100, #faf5ff),
  (200, #e9d8fd),
  (300, #d6bcfa),
  (400, #b794f4),
  (500, #9f7aea),
  (600, #805ad5),
  (700, #6b46c1),
  (800, #553c9a),
  (900, #44337a);

$pink:
  (100, #fff5f7),
  (200, #fed7e2),
  (300, #fbb6ce),
  (400, #f687b3),
  (500, #ed64a6),
  (600, #d53f8c),
  (700, #b83280),
  (800, #97266d),
  (900, #702459);

/* shadowColor */

$shadow-color:
  (md, 6px),
  (lg, 15px),
  (xl, 25px), // (new)
  (\32xl, 50px); // (new)

/* alignContent */

$align-content:
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (between, space-between),
  (around, space-around);

/* alignItems */

$align-items:
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (baseline, baseline),
  (stretch, stretch);

/* alignSelf */

$align-self:
  (auto, auto),
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (stretch, stretch);

/* backgroundAttachment */

$background-attachment:
  (fixed, fixed),
  (local, local),
  (scroll, scroll);

/* backgroundPosition */

$background-position:
  (top, top),
  (bottom, bottom),
  (center, center),
  (left, left),
  (left-bottom, left bottom),
  (left-top, left top),
  (right, right),
  (right-bottom, right bottom),
  (right-top, right top);

/* backgroundRepeat */

$background-repeat:
  (repeat, repeat),
  (no-repeat, no-repeat),
  (repeat-x, repeat-x),
  (repeat-y, repeat-y),
  (repeat-round, round),
  (repeat-space, space);

/* backgroundSize */

$background-size:
  (auto, auto),
  (cover, cover),
  (contain, contain);

/* borderCollapse */

$border-collapse:
  (collapse, collapse),
  (separate, separate);

/* borderRadius */

$border-radius:
  (none, 0),
  (sm, 0.125rem),
  (lg, 0.5rem),
  (full, 9999px);

/* borderStyle */

$border-style:
  (solid, solid),
  (dashed, dashed),
  (dotted, dotted),
  (none, none);

/* borderWidth */

$border-width:
  (0, 0),
  (2, 0.125em), // 2px
  (4, 0.25em), // 4px
  (8, 0.5em); // 8px

/* boxShadow */

$box-shadow:
  (md, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)),
  (lg, 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)),
  (xl, 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)),
  (2xl, 0 25px 50px -12px rgba(0, 0, 0, 0.25)),
  (inner, inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)),
  (outline, 0 0 0 3px rgba(66, 153, 225, 0.5)),
  (none, none);

/* cursor */

$cursor:
  (auto, auto),
  (default, default),
  (pointer, pointer),
  (wait, wait),
  (text, text),
  (move, move),
  (not-allowed, not-allowed);

/* display */

$display:
  (block, block),
  (inline-block, inline-block),
  (inline, inline),
  (flex, flex),
  (inline-flex, inline-flex),
  (table, table),
  (table-row, table-row),
  (table-cell, table-cell),
  (hidden, none);

/* flex */

$flex:
  (1, 1 1 0%),
  (auto, 1 1 auto),
  (initial, 0 1 auto),
  (none, none);

/* flex direction */

$flex-direction:
  (row, row),
  (row-reverse, row-reverse),
  (col, column),
  (col-reverse, column-reverse);

/* flex wrap */

$flex-wrap:
  (wrap, wrap),
  (wrap-reverse, wrap-reverse),
  (no-wrap, nowrap);

/* float */

$float:
  (left, left),
  (right, right),
  (none, none);

/* font family */

$sans: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

$font-family:
  (default, (-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif)),
  (sans, (#{$sans})),
  (serif, (Noto Serif, Droid Serif, Georgia, Cambria, Times New Roman, Times, serif)),
  (mono, (SF Mono, Consolas, Roboto Mono, Noto Mono, Droid Mono, Fira Mono, Ubuntu Mono, Oxygen Mono, Lucida Console, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace)),
  (arabic, (Arabic UI Display, Geeza Pro, Simplified Arabic, #{$sans})),
  (japanese, (Meiryo, Yu Gothic, Hiragino Kaku Gothic Pro, Hiragino Sans, #{$sans})),
  (korean, (Malgun Gothic, Apple SD Gothic Neo, #{$sans})),
  (thai, (Leelawadee, Thonburi, #{$sans})),
  (chinese, (Microsoft Yahei, PingFang SC, PingFang TC, Hiragino Sans, Hiragino Kaku Gothic Pro, #{$sans}));

/* font size */

$font-size:
  (xs, 0.75rem),
  (sm, 0.875rem),
  (md, 1rem),
  (lg, 1.125rem),
  (xl, 1.25rem),
  (2xl, 1.5rem),
  (3xl, 1.875rem),
  (4xl, 2.25rem),
  (5xl, 3rem),
  (6xl, 4rem),
  (7xl, 5rem),
  (8xl, 6rem);

/* font weight */

$font-weight:
  (hairline, 100),
  (thin, 200),
  (light, 300),
  (normal, 400),
  (medium, 500),
  (semibold, 600),
  (bold, 700),
  (extrabold, 800),
  (black, 900);

/* height */

$height:
  (auto, auto),
  (px, 1px),
  (0, 0),
  (1, 0.25rem),
  (2, 0.5rem),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (8, 2rem),
  (10, 2.5rem),
  (12, 3rem),
  (16, 4rem),
  (20, 5rem),
  (24, 6rem),
  (32, 8rem),
  (40, 10rem),
  (48, 12rem),
  (56, 14rem),
  (64, 16rem),
  (full, 100%),
  (screen, 100vh);

/* inset */

$inset:
  (0, 0),
  (auto, auto);

/* justify content */

$justify-content:
  (start, flex-start),
  (end, flex-end),
  (center, center),
  (between, space-between),
  (around, space-around);

/* letter spacing */

$letter-spacing:
  (tighter, -0.05em),
  (tight, -0.025em),
  (normal, 0),
  (wide, 0.025em),
  (wider, 0.05em),
  (widest, 0.1em);

/* line height */

$line-height:
  (none, 1),
  (tight, 1.25),
  (snug, 1.375),
  (normal, 1.5),
  (relaxed, 1.625),
  (loose, 2),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (7, 1.75rem),
  (8, 2rem),
  (9, 2.25rem),
  (10, 2.5rem);

/* list style type */

$list-style-type:
  (none, none),
  (disc, disc),
  (decimal, decimal);

/* max height */

$max-height:
  (full, 100%),
  (screen, 100vh);

/* max width */

$max-width:
  (none, none),
  (xxxs, 12rem),
  (xxs, 16rem),
  (xs, 20rem),
  (sm, 24rem),
  (md, 28rem),
  (lg, 32rem),
  (xl, 36rem),
  (2xl, 42rem),
  (3xl, 48rem),
  (4xl, 56rem),
  (5xl, 64rem),
  (6xl, 72rem),
  (full, 100%);

/* min height */

$min-height:
  (0, 0),
  (full, 100%),
  (screen, 100vh);

/* min width */

$min-width:
  (0, 0),
  (full, 100%);

/* opacity */

$opacity:
  (0, 0),
  (25, 0.25),
  (50, 0.5),
  (75, 0.75),
  (100, 1);

/* object fit */

$object-fit:
  (contain, contain),
  (cover, cover),
  (fill, fill),
  (none, none),
  (scale-down, scale-down);

/* object position */

$object-position:
  (top, top),
  (bottom, bottom),
  (center, center),
  (left, left),
  (right, right),
  (left-bottom, left bottom),
  (left-top, left top),
  (right-bottom, right bottom),
  (right-top, right top);

/* order */

$order:
  (first, -9999),
  (last, 9999),
  (none, 0),
  (1, 1),
  (2, 2),
  (3, 3),
  (4, 4),
  (5, 5),
  (6, 6),
  (7, 7),
  (8, 8),
  (9, 9),
  (10, 10),
  (11, 11),
  (12, 12);

/* overflow */

$overflow:
  (auto, auto),
  (hidden, hidden),
  (scroll, scroll);

$overflow-xy:
  (auto, auto),
  (hidden, hidden),
  (visible, visible),
  (scroll, scroll);

$overflow-scrolling:
  (touch, touch),
  (auto, auto);

/* pointer events */

$pointer-events:
  (none, none),
  (auto, auto);

/* position */

$position:
  (static, static),
  (fixed, fixed),
  (absolute, absolute),
  (relative, relative),
  (sticky, sticky);

/* resize */

$resize:
  (none, none),
  (x, horizontal),
  (y, vertical);

/* scale */

$scale:
  (0, 0),
  (50, 0.5),
  (75, 0.75),
  (90, 0.9),
  (95, 0.95),
  (100, 1),
  (105, 1.05),
  (110, 1.1),
  (125, 1.25),
  (150, 1.5);

/* rotate */

$rotate:
  (0,	0),
  (45, 45deg),
  (90, 90deg),
  (180, 180deg);

/* skew */

$skew:
  (0, 0),
  (3, 3deg),
  (6, 6deg),
  (12, 12deg);

/* stroke width */

$stroke-width:
  (0,	0),
  (1,	1),
  (2,	2);

/* table layout */

$table-layout:
  (auto, auto),
  (fixed, fixed);

/* text align */

$text-align:
  (left, left),
  (right, right),
  (center, center),
  (justify, justify);

/* transform origin */

$transform-origin:
  (center, center),
  (top, top),
  (top-right, top right),
  (right, right),
  (bottom-right, bottom right),
  (bottom, bottom),
  (bottom-left, bottom left),
  (left, left),
  (top-left, top left);

/* translate */

$translate:
  (0, 0),
  (1, 0.25rem),
  (2, 0.5rem),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (8, 2rem),
  (10, 2.5rem),
  (12, 3rem),
  (16, 4rem),
  (20, 5rem),
  (24, 6rem),
  (32, 8rem),
  (40, 10rem),
  (48, 12rem),
  (56, 14rem),
  (64, 16rem),
  (px, 1px),
  (1#{$of}2, 50%),
  (full, 100%);

/* transition property */

$transition-property:
  (transition-none, none),
  (transition-all, all),
  (transition, (background-color, border-color, color, fill, stroke, opacity, box-shadow, transform)),
  (transition-colors, (background-color, border-color, color, fill, stroke)),
  (transition-opacity, opacity),
  (transition-shadow, box-shadow),
  (transition-transform, transform);

/* transition duration */

$transition-duration:
  (75, 75ms),
  (100, 100ms),
  (150, 150ms),
  (200, 200ms),
  (300, 300ms),
  (500, 500ms),
  (700, 700ms),
  (1000, 1000ms);

/* transition timing */

$transition-timing:
  (linear, linear),
  (in, cubic-bezier(0.4, 0, 1, 1)),
  (out, cubic-bezier(0, 0, 0.2, 1)),
  (in-out, cubic-bezier(0.4, 0, 0.2, 1));

/* user select */

$user-select:
  (none, none),
  (text, text),
  (all, all),
  (auto, auto);

/* vertical align */

$vertical-align:
  (baseline, baseline),
  (top, top),
  (middle, middle),
  (bottom, bottom),
  (text-top, text-top),
  (text-bottom, text-bottom);

/* whitespace */

$whitespace:
  (normal, normal),
  (no-wrap, nowrap),
  (pre, pre),
  (pre-line, pre-line),
  (pre-wrap, pre-wrap);

/* width */

$width:
  (auto, auto),
  (px, 1px),
  (0, 0),
  (1, 0.25rem),
  (2, 0.5rem),
  (3, 0.75rem),
  (4, 1rem),
  (5, 1.25rem),
  (6, 1.5rem),
  (8, 2rem),
  (10, 2.5rem),
  (12, 3rem),
  (16, 4rem),
  (20, 5rem),
  (24, 6rem),
  (32, 8rem),
  (40, 10rem),
  (48, 12rem),
  (56, 14rem),
  (64, 16rem),
  (1#{$of}2, 50%),
  (1#{$of}3, 33.333333%),
  (2#{$of}3, 66.666667%),
  (1#{$of}4, 25%),
  (2#{$of}4, 50%),
  (3#{$of}4, 75%),
  (1#{$of}5, 20%),
  (2#{$of}5, 40%),
  (3#{$of}5, 60%),
  (4#{$of}5, 80%),
  (1#{$of}6, 16.666667%),
  (2#{$of}6, 33.333333%),
  (3#{$of}6, 50%),
  (4#{$of}6, 66.666667%),
  (5#{$of}6, 83.333333%),
  (1#{$of}12, 8.333333%),
  (2#{$of}12, 16.666667%),
  (3#{$of}12, 25%),
  (4#{$of}12, 33.333333%),
  (5#{$of}12, 41.666667%),
  (6#{$of}12, 50%),
  (7#{$of}12, 58.333333%),
  (8#{$of}12, 66.666667%),
  (9#{$of}12, 75%),
  (10#{$of}12, 83.333333%),
  (11#{$of}12, 91.666667%),
  (full, 100%),
  (screen, 100vw);

/* z index */

$z-index:
  (auto, auto),
  (0, 0),
  (10, 10),
  (20, 20),
  (30, 30),
  (40, 40),
  (50, 50);

/* filters (brightness, contrast, saturate) */

$filter-brightness:
  (0, 0),
  (1, 1),
  (2, 1.06),
  (3, 1.12),
  (4, 1.18),
  (5, 1.24),
  (6, 1.30),
  (7, 1.36),
  (8, 1.42),
  (9, 1.48),
  (10, 1.54);

$filter-contrast:
  (0, 0),
  (1, 1),
  (2, 1.10),
  (3, 1.20),
  (4, 1.30),
  (5, 1.40),
  (6, 1.50),
  (7, 1.60),
  (8, 1.70),
  (9, 1.80),
  (10, 1.90);

$filter-saturate:
  (0, 0),
  (1, 1),
  (2, 1.10),
  (3, 1.20),
  (4, 1.30),
  (5, 1.40),
  (6, 1.50),
  (7, 1.60),
  (8, 1.70),
  (9, 1.80),
  (10, 1.90);

/* filter (blur) */

$filter-blur:
  (0, 0px),
  (1, 2px),
  (2, 4px),
  (3, 6px),
  (4, 8px),
  (5, 10px),
  (6, 12px),
  (7, 14px),
  (8, 16px),
  (9, 18px),
  (10, 20px);

/* filter (invert) */

$filter-invert:
  (0, 0),
  (1, 1.0);

/* effect (blend) */

$effect-blend:
  (normal, normal),
  (multiple, multiply),
  (screen, screen),
  (overlay, overlay),
  (darken, darken),
  (lighten, lighten),
  (color, color),
  (color-dodge, color-dodge),
  (color-burn, color-burn),
  (hard-light, hard-light),
  (soft-light, soft-light),
  (difference, difference),
  (exclusion, exclusion),
  (hue, hue),
  (saturation, saturation),
  (luminosity, luminosity);
