/**
 * @file: _plugins.scss
 * @description: write your plugins here.
 */

// @include plugin(
//   $utility: ('text'),
//   $variant: $none,
//   $property: ('font-size'),
//   $modifier: (
//     'xs': '0.75.rem',
//     'sm': '0.875rem',
//     'md': '1rem',
//     'lg': '1.125rem',
//     'xl': '1.25rem'
//   )
// )