/**
 * @module: responsive/
 * @file: _constants.scss
 */

// prefix responsive
$responsive-default: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}";

// prefix responsive with variants
$responsive-hover: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}:hover";
$responsive-focus: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}:focus";
$responsive-active: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}:active";
$responsive-visited: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}:visited";
$responsive-disabled: ".\\#{$prefix-before}#{$screen}\\#{$prefix-after}:disabled";
