/**
 * @utility: transforms
 * @module: _transform.scss
 */

///// rules /////

@mixin transform(
  $prefix, $pseudo, $class) {

  #{$prefix}#{$class}transform#{$pseudo} {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
  }

  #{$prefix}#{$class}transform-none#{$pseudo} {
    transform: none
  }

}

///// variants /////

/* standalone */
/* hover */
/* focus */
/* active */

/* global */

@include transform
  ("", "", ".")

/* hover */
/* focus */
/* active */

/* responsive */

@each $screen, $size in $screens {
  @media (min-width: #{$size}) {
    /* standalone */
    /* global */
    /* hover */
    /* focus */
    /* active */
  }
}