/**
 * @utility: borders
 * @module: _borderRadius.scss
 * @desc: sets border radius
 */

@mixin borderRadius(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {

  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "rounded",
    $property1: "border-radius",
    $value1: "0.25rem#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "rounded-tl",
    $property1: "border-top-left-radius",
    $value1: "0.25rem#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "rounded-tr",
    $property1: "border-top-right-radius",
    $value1: "0.25rem#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "rounded-bl",
    $property1: "border-bottom-left-radius",
    $value1: "0.25rem#{$override}"
  )
  @include setRule(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "rounded-br",
    $property1: "border-bottom-right-radius",
    $value1: "0.25rem#{$override}"
  )

  @each $modifier, $value in $border-radius {
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-",
      $modifier: $modifier,
      $property1: "border-radius",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-t-",
      $modifier: $modifier,
      $property1: "border-top-left-radius",
      $value1: $value#{$override},
      $property2: "border-top-right-radius",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-b-",
      $modifier: $modifier,
      $property1: "border-bottom-right-radius",
      $value1: $value#{$override},
      $property2: "border-bottom-left-radius",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-l-",
      $modifier: $modifier,
      $property1: "border-top-left-radius",
      $value1: $value#{$override},
      $property2: "border-bottom-left-radius",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-r-",
      $modifier: $modifier,
      $property1: "border-top-right-radius",
      $value1: $value#{$override},
      $property2: "border-bottom-right-radius",
      $value2: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-tl-",
      $modifier: $modifier,
      $property1: "border-top-left-radius",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-tr-",
      $modifier: $modifier,
      $property1: "border-top-right-radius",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-bl-",
      $modifier: $modifier,
      $property1: "border-bottom-left-radius",
      $value1: $value#{$override}
    )
    @include setRule(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "rounded-br-",
      $modifier: $modifier,
      $property1: "border-bottom-right-radius",
      $value1: $value#{$override}
    )
  }
}



