/**
 * @utility: borders
 * @module: _borderStyle.scss
 */

@mixin borderStyle(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $border-style {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-",
      $modifier: $modifier,
      $property: "border-style",
      $value: $value#{$override}
    )
  }
}

