/**
 * @utility: borders
 * @module: _borderWidth.scss
 */

@mixin borderWidth(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @include setRuleSingle(
    $prefix: $prefix,
    $pseudo: $pseudo,
    $class: $class,
    $selector: "border",
    $property: "border-width",
    $value: "0.0625em#{$override}"
  )
  @each $modifier, $value in $border-width {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-",
      $modifier: $modifier,
      $property: "border-width",
      $value: $value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-t-",
      $modifier: $modifier,
      $property: "border-top-width",
      $value: $value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-b-",
      $modifier: $modifier,
      $property: "border-bottom-width",
      $value: $value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-l-",
      $modifier: $modifier,
      $property: "border-left-width",
      $value: $value#{$override}
    )
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "border-r-",
      $modifier: $modifier,
      $property: "border-right-width",
      $value: $value#{$override}
    )
  }
}




