/**
 * @utility: typography
 * @module: _fontWeight.scss
 * @desc: sets the font weight
 */

@mixin fontWeight(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $font-weight {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "font-",
      $modifier: $modifier,
      $property: "font-weight",
      $value: $value#{$override}
    )
  }
}


