/**
 * @utility: typography
 * @module: _fontSmoothing.scss
 * @desc: sets the antialiasing of the font
 */

@mixin fontSmoothing(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  #{$prefix}#{$class}#{$id}antialiased {
    -webkit-font-smoothing: antialiased#{$override};
    -moz-osx-font-smoothing: grayscale#{$override}
  }
  #{$prefix}#{$class}#{$id}subpixel-antialiased {
    -webkit-font-smoothing: auto#{$override};
    -moz-osx-font-smoothing: auto#{$override}
  }
}

