/**
 * @utility: typography
 * @module: _fontFamily.scss
 */

@mixin fontFamily(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $font-family {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "font-",
      $modifier: $modifier,
      $property: "font-family",
      $value: $value#{$override}
    )
  }
}


