/**
 * @utility: typography
 * @module: _fontSize.scss
 * @desc: sets the font size
 */

@mixin fontSize(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $font-size {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "text-",
      $modifier: $modifier,
      $property: "font-size",
      $value: $value#{$override}
    )
  }
}

