/**
 * @utility: typography
 * @module: _placeholder.scss
 * @desc: sets the placeholder color transparent to overwrite native browser color
 */

@mixin placeholder() {
  .#{$id}placeholder-transparent:-ms-input-placeholder {
    color: transparent
  }
  .#{$id}placeholder-transparent::-ms-input-placeholder {
    color: transparent
  }
  .#{$id}placeholder-transparent::placeholder {
    color: transparent
  }
}

