/**
 * @utility: typography
 * @module: _textAlign.scss
 */

@mixin textAlign(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $text-align {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "text-",
      $modifier: $modifier,
      $property: "text-align",
      $value: $value#{$override}
    )
  }
}



