/**
 * @utility: typography
 * @module: _verticalAlign.scss
 * @desc: sets the vertical alignment of an inline or table-cell box
 */

@mixin verticalAlign(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $vertical-align {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "align-",
      $modifier: $modifier,
      $property: "vertical-align",
      $value: $value#{$override}
    )
  }
}

