/**
 * @utility: typography
 * @module: _whitespace.scss
 * @desc: sets the whitespace of an element
 */

@mixin whitespace(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $whitespace {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "whitespace-",
      $modifier: $modifier,
      $property: "white-space",
      $value: $value#{$override}
    )
  }
}

