/**
 * @utility: transitions
 * @module: _transitionDuration.scss
 * @desc: sets the length of time for a transition animations to complete
 */

@mixin transitionDuration(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-duration {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "duration-",
      $modifier: $modifier,
      $property: "transition-duration",
      $value: $value#{$override}
    )
  }
}



