/**
 * @utility: transitions
 * @module: _transitionProperty.scss
 * @desc: sets the css properties affected by transition animations
 */

@mixin transitionProperty(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-property {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $modifier: $modifier,
      $property: "transition-property",
      $value: $value#{$override}
    )
  }
}


