/**
 * @utility: transitions
 * @module: _transitionTiming.scss
 */

@mixin transitionTiming(
  $prefix: null,
  $pseudo: null,
  $class: null
  ) {
  @each $modifier, $value in $transition-timing {
    @include setRuleSingle(
      $prefix: $prefix,
      $pseudo: $pseudo,
      $class: $class,
      $selector: "ease-",
      $modifier: $modifier,
      $property: "transition-timing-function",
      $value: $value#{$override}
    )
  }
}
