/**
 * @file: _atrules.scss
 */

// class options
$default: "."; // is class
$true: "-"; // is negative

// prefix options
$variant-hover: ".hover\\#{$separator}";
$variant-group-hover: ".group:hover .group-hover\\#{$separator}"; // (v1.0.8)

$variant-focus: ".focus\\#{$separator}";
$variant-group-focus: ".group:focus .group-focus\\#{$separator}"; // (v1.0.8)

$variant-active: ".active\\#{$separator}";
$variant-visited: ".visited\\#{$separator}";
$variant-disabled: ".disabled\\#{$separator}";

// pseudo options
$hover: ":hover";
$focus: ":focus";
$active: ":active";
$visited: ":visited";
$disabled: ":disabled";


@mixin setRule(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $selector: null,
  $modifier: null,
  $option: null,
  $property1: null,
  $value1: null,
  $property2: null,
  $value2: null,
  $property3: null,
  $value3: null,
  $property4: null,
  $value4: null,
  $property5: null,
  $value5: null,
  $property6: null,
  $value6: null,
  ) {
  #{$prefix}#{$class}#{$id}#{$selector}#{$modifier}#{$option}#{$pseudo} {
    #{$property1}: #{$value1};
    #{$property2}: #{$value2};
    #{$property3}: #{$value3};
    #{$property4}: #{$value4};
    #{$property5}: #{$value5};
    #{$property6}: #{$value6}
  }
}

@mixin textColor(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $color: null,
  $shade: null,
  $hex: null
  ) {
  #{$prefix}#{$class}#{$id}text-#{$color}-#{$shade}#{$pseudo} {
    color: #{$hex}#{$override}
  }
}

@mixin backgroundColor(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $color: null,
  $shade: null,
  $hex: null
  ) {
  #{$prefix}#{$class}#{$id}bg-#{$color}-#{$shade}#{$pseudo} {
    background-color: #{$hex}#{$override}
  }
}

@mixin borderColor(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $color: null,
  $shade: null,
  $hex: null
  ) {
  #{$prefix}#{$class}#{$id}border-#{$color}-#{$shade}#{$pseudo} {
    border-color: #{$hex}#{$override}
  }
}

@mixin shadowColor(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $color: null,
  $shade: null,
  $hex: null,
  $radius: null
  ) {
  @each $size, $radius in $shadow-color {
    #{$prefix}#{$class}#{$id}shadow-#{$size}-#{$color}-#{$shade}#{$pseudo} {
      box-shadow: 0 0 #{$radius} #{$hex}#{$override}
     }
   }
}

@mixin placeholderColor(
  $prefix: null,
  $pseudo: null,
  $class: null,
  $color: null,
  $shade: null,
  $hex: null
  ) {
  #{$prefix}#{$class}#{$id}placeholder-#{$color}-#{$shade}:#{$pseudo}:-ms-input-placeholder {
    color: #{$hex}#{$override}
  }
  #{$prefix}#{$class}#{$id}placeholder-#{$color}-#{$shade}:#{$pseudo}:-ms-input-placeholder {
    color: #{$hex}#{$override}
  }
  #{$prefix}#{$class}#{$id}placeholder-#{$color}-#{$shade}:#{$pseudo}:placeholder {
    color: #{$hex}#{$override}
  }
}
